/* @font-face {
  font-family: "TT Firs Neue";
  src: url("../../assets/font/TT\ Firs\ Neue\ Trial\ Regular.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../../assets/font/TT\ Firs\ Neue\ Trial\ Bold.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../../assets/font/TT\ Firs\ Neue\ Trial\ Medium.ttf") format("ttf");
  font-weight: 400;
} */

.opacity-glow {
  opacity: 0.75;
}

.njss189 {
  font-family: "Inter-Medium", sans-serif !important;
}

.main a {
  color: #3060df;
}

.button.filled {
  background: #3060df !important;
}

.button.filled:hover {
  background: #0d47a1 !important;
}

.dapps-hero {
  width: 100%;
  /* padding: 176px 0 170px !important; */
  padding: 30px 0 71px !important;
  margin-bottom: 140px;
}

div.cases-comparison__item.gradient-border.velas::before {
  background: linear-gradient(
    93.54deg,
    #3060df 0%,
    #3060df 33.85%,
    #23c1da 67.19%,
    #7941ff 100%
  ) !important;
}

.cases-comparison__item-logo {
  width: 189px;
  height: 50px !important;
  margin-bottom: 48px !important;
  margin-top: 23px;
}

.font-weight-bold {
  font-weight: bold !important;
}

.jss16 {
  padding-top: 8px !important;
}

.MuiButton-label-107 {
  font-weight: bold;
}

.jss1227 {
  justify-content: flex-end !important;
  margin-right: 60px;
}

.menu-item-light {
  background: white !important;
}

.btn-transparent {
  padding: 16px 32px;
  font-size: 16px;
  min-width: 100px;
  height: 40px;
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  color: #3060df;
  background: transparent;
  border: 2px solid #3060df !important;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: white;
}
.btn-transparent:hover svg,
.btn-transparent:focus svg {
  stroke: white;
}
.btn-transparent:hover svg path,
.btn-transparent:focus svg path {
  fill: white;
}

.header-logo {
  height: 30px !important;
  width: auto !important;
}
.header-blg {
  text-decoration: none;
  /* position: absolute; */
}

.header-blg:hover svg {
  transform: translateX(2px);
}
.header-blg .jss1758 {
  color: #3060df;
  width: 15px;
  height: 15px;
  margin-top: -1px;
  transition: transform 0.15s;
  margin-left: 8px;
  vertical-align: middle;
}
.header-blg {
}
.header-blg .jss1751 {
  display: flex;
  padding-bottom: 30px;
  justify-content: start;
  align-items: center;
  position: absolute;
  margin-left: 10px !important;
}
.header-blg .jss1752 {
  color: #3060df;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.__packageName__-__packageName__-jss111 {
  height: 100%;
  display: flex;
  padding: 28px 0px 0px;
  width: 250px;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  flex-direction: column;
}
.__packageName__-__packageName__-jss111 a {
  color: #1f2226;

  text-decoration: none;
}
.__packageName__-__packageName__-jss111 a:visited {
  color: inherit;
}
.__packageName__-__packageName__-jss111 a:hover {
  color: #356df3;
}
.__packageName__-__packageName__-jss111
  a:hover
  .__packageName__-__packageName__-jss120 {
  color: #356df3;
}
.__packageName__-__packageName__-jss112 {
  height: 100%;
  margin-top: 24px;
}
.__packageName__-__packageName__-jss113.__packageName__-__packageName__-jss113 {
  color: #bfc6d0;
  cursor: default;
}
.__packageName__-__packageName__-jss113.__packageName__-__packageName__-jss113:hover {
  color: #bfc6d0;
}
.__packageName__-__packageName__-jss114.__packageName__-__packageName__-jss114 {
  color: #bfc6d0;
  border: none;
  padding: 0;
  font-size: 32px;
  align-self: flex-start;
  margin-left: 12px;
  margin-bottom: 24px;
}
.__packageName__-__packageName__-jss115.__packageName__-__packageName__-jss115 {
  color: #1f2226;
  display: flex;
  padding: 0px 24px;
  font-size: 16px;
  background: none;
  align-items: center;
  font-weight: 700;
  line-height: 1;
  justify-content: flex-start;
}
.__packageName__-__packageName__-jss116 {
  display: flex;
  padding: 8px 24px;
}
.__packageName__-__packageName__-jss117 {
  margin-right: 16px;
}
.__packageName__-__packageName__-jss118 {
  display: flex;
  align-items: center;
}
.__packageName__-__packageName__-jss119 {
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  margin: 0;
}
.__packageName__-__packageName__-jss120 {
  color: #bfc6d0;
  margin-top: -1px;
  transition: transform 0.15s;
  margin-left: 8px;
  vertical-align: middle;
}
.__packageName__-__packageName__-jss121 {
  display: flex;
  align-items: stretch;
  margin-bottom: 24px;
  flex-direction: column;
}
.__packageName__-__packageName__-jss122 {
  color: #82899a;
  display: block;
  padding: 0px 24px;
  font-size: 14px;
  font-weight: 400;
}
.__packageName__-MuiPaper-root {
  color: #1f2226;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}
.__packageName__-MuiPaper-rounded {
  border-radius: 18px;
}
.__packageName__-MuiPaper-outlined {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.__packageName__-MuiPaper-elevation0 {
  box-shadow: none;
}
.__packageName__-MuiPaper-elevation1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation5 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation7 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation9 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation10 {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation11 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation13 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation14 {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation15 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation17 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation18 {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation19 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation20 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation21 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation22 {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation23 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}
.__packageName__-MuiPaper-elevation24 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.__packageName__-__packageName__-jss1 {
  height: 56px;
  display: flex;
  padding: 0px 29.6px;
  align-items: center;
  justify-content: space-between;
}
.__packageName__-__packageName__-jss1 > div {
  display: flex;
  align-items: center;
}
.__packageName__-__packageName__-jss2.__packageName__-__packageName__-jss2 {
  overflow: hidden;
}
.__packageName__-__packageName__-jss3.__packageName__-__packageName__-jss3 {
  height: 550px;
}
.__packageName__-__packageName__-jss4.__packageName__-__packageName__-jss4 {
  color: #82899a;
  border: none;
}
.__packageName__-__packageName__-jss4.__packageName__-__packageName__-jss4:hover {
  color: #356df3;
  background-color: transparent;
}
.__packageName__-__packageName__-jss5.__packageName__-__packageName__-jss5 {
  color: #356df3;
}
.justifyend {
  justify-content: end;
}

.jss2029.jss2029 {
  color: #356df3;
  margin: 0;
  margin-left: auto;
}
.MuiButton-root-106 {
  color: #1f2226;
  height: 54px;
  padding: 15px 25px;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 12px;
  text-transform: initial;
  text-decoration: none;
}
.MuiButtonBase-root-133 {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiDrawer-docked-2065 {
  flex: 0 0 auto;
}
.MuiDrawer-paper-2066 {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
.MuiDrawer-paperAnchorLeft-2067 {
  left: 0;
  right: auto;
}
.MuiDrawer-paperAnchorRight-2068 {
  left: auto;
  right: 0;
}
.MuiDrawer-paperAnchorTop-2069 {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: auto;
  max-height: 100%;
}
.MuiDrawer-paperAnchorBottom-2070 {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  max-height: 100%;
}
.MuiDrawer-paperAnchorDockedLeft-2071 {
  border-right: 1px solid #8f9093;
}
.MuiDrawer-paperAnchorDockedTop-2072 {
  border-bottom: 1px solid #8f9093;
}
.MuiDrawer-paperAnchorDockedRight-2073 {
  border-left: 1px solid #8f9093;
}
.MuiDrawer-paperAnchorDockedBottom-2074 {
  border-top: 1px solid #8f9093;
}
.MuiContainer-root-2331 {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.jss2056 {
  box-shadow: 0 0 25px rgba(31, 34, 38, 0.1), 0 5px 100px rgba(31, 34, 38, 0.15);
  background-color: #fff;
}
.jss2058 {
  opacity: 0;
  transition: opacity 0.1s;
}
.jss2059 {
  opacity: 1;
}
.jss2060 {
  gap: 20px;
  display: flex;
}
.jss2339 {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 34, 38, 0.05),
    0px 5px 80px rgba(31, 34, 38, 0.1);
  border-radius: 18px;
}
.jss2340 {
  padding: 30px 30px 0;
  max-width: 380px;
  max-height: calc(100vh - 76px);
}
.jss2341 {
  display: grid;
  padding: 24px 0px;
  grid-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 959.95px) {
  .jss2341 {
    gap: unset;
  }
}
.jss2342 {
  color: #1f2226;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 959.95px) {
  .jss2342 {
    padding-top: 30px;
    flex-direction: column;
    padding-bottom: 30px;
  }
}
@media (min-width: 1025px) {
  .d3-img {
    width: 42%;
  }
  .dapps-hero__content {
    margin-top: 85px;
  }
  .dapps-hero__content {
    max-width: 52% !important;
  }
  .jss2342.jss2342.white {
    color: white !important;
  }
  .jss2342.jss2342.white .jss2347 {
    color: white !important;
  }
  .block {
    display: block !important;
  }
}
@media (min-width: 960px) {
  .jss2343.jss2343.white {
    color: #1f2226 !important;
  }
  .jss2343.jss2343.white .jss2347 {
    color: #1f2226 !important;
  }
}
.jss2344 {
  z-index: 1;
  position: relative;
}
@media (max-width: 959.95px) {
  .jss2344 {
    margin: 0;
    animation: 0.5s both jss2349;
    border-bottom: 1px solid #ebedf2;
  }
  .jss2344:nth-child(2) {
    animation-delay: 0.1s;
  }
  .jss2344:nth-child(3) {
    animation-delay: 0.2s;
  }
  .jss2344:nth-child(4) {
    animation-delay: 0.3s;
  }
  .jss2344:nth-child(5) {
    animation-delay: 0.4s;
  }
  .jss2344:nth-child(6) {
    animation-delay: 0.5s;
  }
  .jss2344:nth-child(7) {
    animation-delay: 0.6s;
  }
  .jss2344:nth-child(8) {
    animation-delay: 0.7s;
  }
  .jss2344:nth-child(9) {
    animation-delay: 0.8s;
  }
  .jss2344:nth-child(10) {
    animation-delay: 0.9s;
  }
  .jss2344:last-child {
    border-bottom: none;
  }
  .jss2344:first-child:last-child {
    animation-name: jss2350;
  }
}
.jss2344 + .jss2344 {
  margin-left: 40px;
}
@media (max-width: 1279.95px) {
  .jss2344 + .jss2344 {
    margin-left: 25px;
  }
}
@media (max-width: 959.95px) {
  .jss2344 + .jss2344 {
    margin-left: 0;
  }
}
.jss2345 {
  color: inherit;
  font-size: 16px;
  transition: all 0.2s;
  font-family: "Inter-Medium", sans-serif;
}
.jss2345:hover {
  outline: none;
}
.jss2345:focus {
  color: inherit;
}
@media (max-width: 959.95px) {
  .jss2345 {
    width: 100%;
    opacity: 1;
    padding: 15px 0;
  }
  .jss2345 > span {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  .jss2345 > span svg {
    vertical-align: middle;
  }
}
.jss2346.jss2346 {
  height: 40px;
  opacity: 1;
  padding: 4px 24px;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
}
@media (max-width: 959.95px) {
  .jss2346.jss2346 {
    height: 48px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .jss2346.jss2346 > span {
    text-align: center;
  }
}
.jss2347 {
  opacity: 1;
}
@media (max-width: 959.95px) {
  .jss2347 {
    color: #356df3 !important;
  }
}
.jss2348 {
  margin-left: 6px;
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: linear;
}
@-webkit-keyframes jss2349 {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes jss2350 {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 959.95px) {
  .jss2060 {
    gap: unset;
  }
}
.jss2060 menuContainer {
  padding: 0;
}
@media (min-width: 768px) {
  .MuiContainer-root-2331 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.MuiContainer-root-2331.MuiContainer-root-2331 {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .MuiContainer-root-2331.MuiContainer-root-2331 {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .MuiContainer-root-2331.MuiContainer-root-2331 {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .MuiContainer-root-2331.MuiContainer-root-2331 {
    padding: 0 20px;
  }
}
.MuiContainer-disableGutters-2332 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .MuiContainer-fixed-2333 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .MuiContainer-fixed-2333 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .MuiContainer-fixed-2333 {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .MuiContainer-fixed-2333 {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .MuiContainer-maxWidthXs-2334 {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .MuiContainer-maxWidthSm-2335 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .MuiContainer-maxWidthMd-2336 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg-2337 {
    max-width: 1280px;
  }
}
.MuiContainer-maxWidthLg-2337.MuiContainer-maxWidthLg-2337 {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .MuiContainer-maxWidthXl-2338 {
    max-width: 1440px;
  }
}
@media (max-width: 900px) {
  .__packageName__-__packageName__-jss3.__packageName__-__packageName__-jss3 {
    max-height: 100vh;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    z-index: 99999;
    border-radius: 0 !important;
    width: 350px !important;
    max-width: 350px !important;
  }

  .__packageName__-MuiPopover-root {
    background-color: rgba(0, 0, 0, 0.524);
  }
}
.jss1229 {
  position: relative;
}
.jss1229.static {
  position: static !important;
}
@media (min-width: 1025px) {
  .float-dv {
    animation: dropmovefirst 0.2s forwards;
  }
}
.float-dv {
  position: absolute;
  top: 75px;
  overflow: auto;
  /* margin-left: -111px; */

  padding: 20px;
  /* max-width: 380px; */
  /* height: calc(100vh - 80px); */
  /* z-index: 9; */
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 34, 38, 0.05),
    0px 5px 80px rgba(31, 34, 38, 0.1);
  border-radius: 8px;
}
.float-dv.alters-section {
  height: auto;
}
.link-heading {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.link-heading img {
  transition: all 0.3s ease;
}
.link-heading:hover img {
  transition: all 0.3s ease;
  margin-left: 4px;
}
.img-cont {
  display: flex;
  align-items: center;
  width: 20px;
}
.link-heading h4 {
  color: #1f2226;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
}
.link-float {
  text-decoration: none;
}
.link-float p {
  color: #808692;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
}

.bottom-sec {
  padding-bottom: 24px !important;
}
/* .float-dv{
  display: none;
} */
@media (min-width: 1025px) {
  .closeAn .float-dv {
    animation: dropmoveclose 0.3s forwards !important;
    /* display: none; */
  }
  .full-float {
    transition: all 0.3s ease;
  }
  .hide-it.full-float {
    /* display: none !important;  */
    /* animation:none; */
    position: absolute;
    /* animation: lastf 1.2s forwards; */
    top: -500%;
    transition: all 1s ease;
  }
}
/* .jss1229:hover .float-dv,
.jss1229:hover .float-overlay
{
    display: block;
    
} */
.float-dv:hover {
  display: block;
}

.float-overlay {
  height: 100vh;
  width: 100%;
  top: 75px;
  display: none;
  position: fixed;
  left: 0;

  z-index: 9;
}
.active-bar .float-dv,
.active-bar .float-overlay {
  display: block;
}

.active-tp .fture,
.active-bar .MuiButton-label-107 {
  color: #356df3;
  transition: all 0.3s ease;
}
.active-tp .fture .jss1233,
.active-bar .MuiButton-label-107 svg {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.MuiButtonBase-root-133 {
  position: relative !important;
  z-index: 99999;
}
.jss7737 {
  color: #ffffff;
  padding: 2px 5px;
  font-size: 11px;
  background: #eea941;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  border-radius: 6px;
  text-transform: uppercase;
}
.jss7739 {
  background: #356df3 !important;
}
.full-float {
  width: 100%;
  box-shadow: 0 0 25px rgba(31, 34, 38, 0.1), 0 5px 100px rgba(31, 34, 38, 0.15);
  background-color: #fff;
  position: fixed;
  top: 63px;
  /* animation: mymove 0.3s forwards; */
  z-index: 1119;
}

.jss751 {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 34, 38, 0.05),
    0px 5px 80px rgba(31, 34, 38, 0.1);
  border-radius: 18px;
}
.jss752 {
  padding: 30px 30px 0;
  max-width: 380px;
  max-height: calc(100vh - 76px);
}
.jss753 {
  display: grid;
  padding: 24px 0px;
  padding-bottom: 35px;
  grid-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 959.95px) {
  .jss753 {
    gap: unset;
  }
}
.jss754 {
  color: #1f2226;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}
.no-shadow {
  box-shadow: none !important;
}
@media (max-width: 959.95px) {
  .jss754 {
    padding-top: 30px;
    flex-direction: column;
    padding-bottom: 30px;
  }
}
@media (min-width: 960px) {
  .jss754.jss754.white {
    color: white !important;
  }
  .jss754.jss754.white .jss759 {
    color: white !important;
  }
}
@media (min-width: 960px) {
  .jss755.jss755.white {
    color: #1f2226 !important;
  }
  .jss755.jss755.white .jss759 {
    color: #1f2226 !important;
  }
}
.jss756 {
  z-index: 1;
  position: relative;
}
@media (max-width: 959.95px) {
  .jss756 {
    margin: 0;
    animation: 0.5s both jss761;
    border-bottom: 1px solid #ebedf2;
  }
  .jss756:nth-child(2) {
    animation-delay: 0.1s;
  }
  .jss756:nth-child(3) {
    animation-delay: 0.2s;
  }
  .jss756:nth-child(4) {
    animation-delay: 0.3s;
  }
  .jss756:nth-child(5) {
    animation-delay: 0.4s;
  }
  .jss756:nth-child(6) {
    animation-delay: 0.5s;
  }
  .jss756:nth-child(7) {
    animation-delay: 0.6s;
  }
  .jss756:nth-child(8) {
    animation-delay: 0.7s;
  }
  .jss756:nth-child(9) {
    animation-delay: 0.8s;
  }
  .jss756:nth-child(10) {
    animation-delay: 0.9s;
  }
  .jss756:last-child {
    border-bottom: none;
  }
  .jss756:first-child:last-child {
    animation-name: jss762;
  }
}
.jss756 + .jss756 {
  margin-left: 40px;
}
@media (max-width: 1279.95px) {
  .jss756 + .jss756 {
    margin-left: 25px;
  }
}
@media (max-width: 959.95px) {
  .jss756 + .jss756 {
    margin-left: 0;
  }
}
.jss757 {
  color: inherit;
  font-size: 16px;
  transition: all 0.2s;
  font-family: "Inter-Medium", sans-serif;
}
.jss757:hover {
  outline: none;
}
.jss757:focus {
  color: inherit;
}
@media (max-width: 959.95px) {
  .jss757 {
    width: 100%;
    opacity: 1;
    padding: 15px 0;
  }
  .jss757 > span {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  .jss757 > span svg {
    vertical-align: middle;
  }
}
.jss758.jss758 {
  height: 40px;
  opacity: 1;
  padding: 4px 24px;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
}
@media (max-width: 959.95px) {
  .jss758.jss758 {
    height: 48px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .jss758.jss758 > span {
    text-align: center;
  }
}
.jss759 {
  opacity: 1;
}
@media (max-width: 959.95px) {
  .jss759 {
    color: #356df3 !important;
  }
}
.jss760 {
  margin-left: 6px;
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: linear;
}
@-webkit-keyframes jss761 {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes jss762 {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.jss1276 {
  padding-bottom: 24px;
}
.jss1277 {
  padding: 0;
  grid-row: 1 / 4;
  min-height: 270px;
}
@media (max-width: 959.95px) {
  .jss1277 {
    min-height: auto;
    padding-bottom: 16px;
  }
}
.jss1277 .jss1285 {
  height: calc(100% - 20px);
  padding: 20px 24px;
  border-radius: 30px;
  background: linear-gradient(270deg, #fbfffd 0%, #e1f5ff 100%);
}
.jss1277 .jss1285:hover {
  background: linear-gradient(270deg, #d6e9ff 0%, #a3c2ff 100%);
}
.jss1277 .jss1285 .jss1287 {
  width: 90px;
  height: 90px;
}
.jss1277 .jss1285 .jss1281 {
  color: #3060df;
  font-size: 20px;
  line-height: 28px;
}
.jss1277 .jss1285 .jss1289 {
  color: #82899a;
  font-size: 19px;
  /*font-family: "TT Firs Neue";*/
  line-height: 32px;
}

.jss1277 .jss1285 .jss1288 {
  display: none;
}
@media (max-width: 959.95px) {
  .jss1277 .jss1285 .jss1281 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 959.95px) {
  .jss1277 .jss1285 .jss1287 {
    width: 60px;
    height: 60px;
  }
}
.jss1278 {
  padding: 0;
  min-height: 125px;
}
@media (max-width: 959.95px) {
  .jss1278 {
    min-height: auto;
    padding-bottom: 16px;
  }
}
.jss1278 .jss1285 {
  height: 100%;
  padding: 16px 20px;
  align-items: flex-start;
  border-radius: 24px;
  background: linear-gradient(270deg, #fbfffd 0%, #e1f5ff 100%);
}
@media (max-width: 959.95px) {
  .jss1278 .jss1285 {
    align-items: center;
  }
}
.jss1278 .jss1285:hover {
  background: linear-gradient(270deg, #d6e9ff 0%, #a3c2ff 100%);
}
.jss1278 .jss1285 > span {
  display: flex;
  align-items: flex-start;
}
.jss1278 .jss1285 .jss1281 {
  color: #3060df;
  font-size: 17px;
  line-height: 20px;
}
.jss1278 .jss1285 .jss1289 {
  color: #82899a;
  font-size: 16px;
  /*font-family: "TT Firs Neue";*/
  line-height: 24px;
}
.jss1278 .jss1285 img {
  margin-right: 16px;
}
.jss1278 .jss1285 .jss1288 {
  display: none;
}
@media (max-width: 959.95px) {
  .jss1278 .jss1285 img {
    margin-right: 12px;
  }
}
@media (max-width: 959.95px) {
  .jss1278 .jss1285 .jss1289 {
    font-size: 16px;
    line-height: 24px;
  }
}
.jss1278 .jss1285 .jss1281 > span {
  color: #a7afc0;
}
.jss1279 {
  padding: 0;
  min-height: 125px;
}
@media (max-width: 959.95px) {
  .jss1279 {
    display: none;
  }
}
.jss1279 .jss1285 {
  width: 100%;
  border: 2px solid #dfe3eb;
  height: 100%;
  padding: 16px 20px;
  border-radius: 24px;
  background-color: transparent;
}
.jss1279 .jss1285 > span {
  display: flex;
  justify-content: center;
}
.jss1279 .jss1285 .jss1281 {
  color: #a7afc0;
  font-size: 18px;
  line-height: 24px;
}
.jss1279 .jss1285 .jss1288 {
  display: none;
}
.jss1280 {
  display: flex;
  align-items: center;
}
.jss1281 {
  color: #1f2226;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
}
.jss1282 {
  color: #ffffff;
  padding: 2px 5px;
  font-size: 11px;
  background: #eea941;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  margin-right: 8px;
  border-radius: 6px;
  text-transform: uppercase;
}
.jss1283 {
  background: #eea941;
}
.jss1284 {
  background: #356df3;
}
.jss1285 {
  color: #1f2226;
  display: flex;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  justify-content: flex-start;
}
@media (max-width: 959.95px) {
  .jss1285 {
    display: inline-flex;
  }
}
.jss1285 > span {
  display: inline-block;
  text-align: left;
}
.jss1285 + .jss1285 {
  margin-top: 20px;
}
.jss1285:hover .jss1288 {
  transform: translateX(2px);
}
@media (max-width: 959.95px) {
  .jss1285 + .jss1285 {
    margin-top: 0;
    margin-left: 40px;
  }
}
.jss1286 {
  pointer-events: none;
}
.jss1287 {
  width: 60px;
  height: 60px;
}
.jss1288 {
  width: 13px;
  margin-top: -1px;
  transition: transform 0.15s;
  margin-left: 8px;
  vertical-align: middle;
}
.jss1289 {
  color: #808692;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
}
.MuiAppBar-positionFixed-18 {
  top: 0;
  left: auto;
  right: 0;
  position: absolute;
}
@media (max-width: 1024px) {
  .MuiAppBar-positionFixed-18 {
    position: fixed !important;
  }
  /* .active-bar2 .float-dv,
  .active-bar2 .float-overlay {
    display: block;
  } */
}
.active-header {
  position: fixed;
  top: 0;
  background-color: white;
  animation: headerdown 0.3s ease forwards;
}
.no-shadow .active-header {
  box-shadow: none !important;
  background-color: white;
}
.no-shadow header {
  background-color: white;
}
.MuiContainer-root-1268 {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .MuiContainer-root-1268 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.MuiContainer-root-1268.MuiContainer-root-1268 {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .MuiContainer-root-1268.MuiContainer-root-1268 {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .MuiContainer-root-1268.MuiContainer-root-1268 {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .MuiContainer-root-1268.MuiContainer-root-1268 {
    padding: 0 20px;
  }
}
.MuiContainer-disableGutters-1269 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .MuiContainer-fixed-1270 {
    max-width: 768px;
  }
}
@media (min-width: 1025px) {
  .MuiContainer-fixed-1270 {
    max-width: 960px;
  }
  .custom-float {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .MuiContainer-fixed-1270 {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .MuiContainer-fixed-1270 {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .MuiContainer-maxWidthXs-1271 {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .MuiContainer-maxWidthSm-1272 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .MuiContainer-maxWidthMd-1273 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg-1274 {
    max-width: 1280px;
  }
}
.MuiContainer-maxWidthLg-1274.MuiContainer-maxWidthLg-1274 {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .MuiContainer-maxWidthXl-1275 {
    max-width: 1440px;
  }
}

@media (max-width: 1024px) {
  header {
    box-shadow: none !important;
  }
  .desk-cl {
    margin-top: 78px !important;
  }
  .active-bar .custom-float {
    display: block !important;
  }
  .closeAn .custom-cm {
    animation: dropmovefour 1s forwards;
  }
  .closeAn .float-dv,
  .closeAn .float-dv.alters-section {
    animation: dropmovethree 0.3s forwards;
  }
  .float-dv {
    max-width: 100% !important;
    animation: dropmovetwo 0.3s forwards;
  }
  .jss2930 .jss2938,
  .jss2931 .jss2938 {
    width: 100%;
    justify-content: start;
  }
  header .MuiContainer-maxWidthLg-87.MuiContainer-maxWidthLg-87 {
    padding: 0 !important;
  }

  .__packageName__-__packageName__-jss4.__packageName__-__packageName__-jss4 {
    padding-left: 40px !important;
  }
  .jss2029.jss2029 {
    padding-right: 40px !important;
  }
  .mbl-style {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100%;
    overflow: auto;
    padding-bottom: 100px;
    right: -100%;
    height: 100vh;
    overflow: auto;
    transition: all 0.5s ease;
    top: 65px;
    padding: 0 30px;
  }

  .show-mbl {
    transition: all 0.5s ease;
    right: 0;
  }
  .mbltxt {
    font-size: 16px;

    font-family: "Inter-Bold", sans-serif;
    font-weight: 600 !important;
  }
  .float-dv {
    box-shadow: none;
    height: auto;
    padding: 0;
    position: static;
    border-radius: 0;
  }
  .active-bar .float-overlay {
    display: none;
  }
  .full-float {
    display: none;
  }
}

@media (max-width: 767px) {
  .__packageName__-__packageName__-jss4.__packageName__-__packageName__-jss4 {
    padding-left: 30px !important;
  }
  .jss2029.jss2029 {
    padding-right: 20px !important;
  }
}

.jss2929 {
  padding-bottom: 24px;
}
.jss2930 {
  padding: 0;
  grid-row: 1 / 4;
  min-height: 270px;
}
@media (max-width: 959.95px) {
  .jss2930 {
    min-height: auto;
    padding-bottom: 16px;
  }
}
.jss2930 .jss2938 {
  height: calc(100% - 20px);
  padding: 20px 24px;
  border-radius: 30px;
  background: linear-gradient(270deg, #fbfffd 0%, #e1f5ff 100%);
}
.jss2930 .jss2938:hover {
  background: linear-gradient(270deg, #d6e9ff 0%, #a3c2ff 100%);
}
.jss2930 .jss2938 .jss2940 {
  width: 90px;
  height: 90px;
}
.jss2930 .jss2938 .jss2934 {
  color: #356df3;
  font-size: 18px;
  line-height: 28px;
}
.jss2930 .jss2938 .jss2942 {
  color: #82899a;
  font-size: 17px;
  /*font-family: "Inter-Bold", sans-serif;*/
  line-height: 32px;
}
.jss2930 .jss2938 .jss2941 {
  display: none;
}
@media (max-width: 959.95px) {
  .jss2930 .jss2938 .jss2934 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 959.95px) {
  .jss2930 .jss2938 .jss2940 {
    width: 60px;
    height: 60px;
  }
}
.jss2931 {
  padding: 0;
  min-height: 125px;
}
@media (max-width: 959.95px) {
  .jss2931 {
    min-height: auto;
    padding-bottom: 16px;
  }
}
.jss2931 .jss2938 {
  height: 100%;
  padding: 16px 20px;
  align-items: flex-start;
  border-radius: 24px;
  background: linear-gradient(270deg, #fbfffd 0%, #e1f5ff 100%);
}
@media (max-width: 959.95px) {
  .jss2931 .jss2938 {
    align-items: center;
  }
}
.jss2931 .jss2938:hover {
  background: linear-gradient(270deg, #d6e9ff 0%, #a3c2ff 100%);
}
.jss2931 .jss2938 > span {
  display: flex;
  align-items: flex-start;
}
.jss2931 .jss2938 .jss2934 {
  color: #356df3;
  font-size: 15px;
  line-height: 20px;
}
.jss2931 .jss2938 .jss2942 {
  color: #82899a;
  font-size: 14px;
  /*font-family: "Inter-Bold", sans-serif;*/
  line-height: 24px;
}
.jss2931 .jss2938 img {
  margin-right: 16px;
}
.jss2931 .jss2938 .jss2941 {
  display: none;
}
@media (max-width: 959.95px) {
  .jss2931 .jss2938 img {
    margin-right: 12px;
  }
}
/*@media (max-width: 959.95px) {
  .jss2931 .jss2938 .jss2942 {
    font-size: 14px;
    line-height: 24px;
  }
}*/
.jss2931 .jss2938 .jss2934 > span {
  color: #a7afc0;
}
.jss2932 {
  padding: 0;
  min-height: 125px;
}
@media (max-width: 959.95px) {
  .jss2932 {
    display: none;
  }
}
.jss2932 .jss2938 {
  width: 100%;
  border: 2px solid #dfe3eb;
  height: 100%;
  padding: 16px 20px;
  border-radius: 24px;
  background-color: transparent;
}
.jss2932 .jss2938 > span {
  display: flex;
  justify-content: center;
}
.jss2932 .jss2938 .jss2934 {
  color: #a7afc0;
  font-size: 18px;
  line-height: 24px;
}
.jss2932 .jss2938 .jss2941 {
  display: none;
}
.jss2933 {
  display: flex;
  align-items: center;
}
.jss2934 {
  color: #1f2226;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
}
.jss2935 {
  color: #ffffff;
  padding: 2px 5px;
  font-size: 11px;
  background: #eea941;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  margin-right: 8px;
  border-radius: 6px;
  text-transform: uppercase;
}
.jss2936 {
  background: #eea941;
}
.jss2937 {
  background: #356df3;
}
.jss2938 {
  color: #1f2226;
  display: flex;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  justify-content: flex-start;
}
@media (max-width: 959.95px) {
  .jss2938 {
    display: inline-flex;
  }
}
.jss2938 > span {
  display: inline-block;
  text-align: left;
}
.jss2938 + .jss2938 {
  margin-top: 20px;
}
.jss2938:hover .jss2941 {
  transform: translateX(2px);
}
@media (max-width: 959.95px) {
  .jss2938 + .jss2938 {
    margin-top: 0;
    margin-left: 40px;
  }
}
.jss2939 {
  pointer-events: none;
}
.jss2940 {
  width: 60px;
  height: 60px;
}
.jss2941 {
  width: 13px;
  margin-top: -1px;
  transition: transform 0.15s;
  margin-left: 8px;
  vertical-align: middle;
}
.jss2942 {
  color: #808692;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
}
.link-txt h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #414142;
  margin-bottom: 0px;
}
.link-txt p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414142;
}
.individual-link {
  display: flex;
  align-items: start;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  text-decoration: none;
  padding: 15px 0px;

  width: 100%;
  transition: all 0.2s ease;
}
.flex-row.flex-alter .individual-link {
  width: 100%;
}
.new-arrow {
  display: none;
}
.individual-link:hover .icon svg {
  transition: all 0.3s ease;
  color: #356df3;
  stroke: #356df3;
}
.flex-link {
  text-decoration: none;
}
.individual-link:hover h3 {
  transition: all 0.2s ease;
  color: #356df3;
}
.link-txt p {
  display: none;
}

.icon {
  display: flex;
}
.MuiContainer-root-81 {
  transition: all 0.3s ease;
}
.active-header .MuiContainer-root-81,
.no-shadow .MuiContainer-root-81 {
  background-color: white !important;
  transition: all 0.3s ease;
}

.mbl-on {
  display: none !important;
}
@media (max-width: 1024px) {
  .desk-off {
    display: none !important;
  }
  .mbl-on {
    display: block !important;
  }
  .btn-transparent {
    margin-right: 20px;
  }
}
@media (min-width: 1025px) {
  .link-txt h3 {
    margin-bottom: 6px;
  }
  .individual-link {
    padding: 15px;
    align-items: start;
    width: 50%;
  }
  .no-margin .individual-link {
    padding-bottom: 20px !important;
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-txt p {
    display: block;
  }

  .float-dv {
    border: 1px solid #d5d6d9 !important;
    width: 566px !important;
    padding: 0 !important;
    background-color: transparent !important;
    margin-left: -200px !important;
  }

  .no-margin {
    margin-bottom: 0;
  }

  .flex-row.flex-alter {
    background: linear-gradient(270deg, #fbfffd 0%, #e1f5ff 100%);
    transition: all 0.3s ease;
    backdrop-filter: blur(50px);
  }
  .flex-row {
    background-color: white;
  }
  .flex-row.flex-alter:hover {
    background-color: white;
    transition: all 0.3s ease;
  }

  .new-arrow {
    margin-right: 20px;
    display: flex;
  }
  .icon svg {
    transition: all 0.3s ease;
  }

  .flex-row:hover .new-arrow svg {
    transition: all 0.3s ease;

    color: #000000;
  }
}
@keyframes mymove {
  from {
    top: -500px;
  }
  to {
    top: 67px;
  }
}
@keyframes lastf {
  from {
    top: 67px;
    visibility: hidden;
  }
  to {
    visibility: hidden;
    top: -500%;
  }
}
@keyframes dropmovefirst {
  from {
    /* top: 0px; */
    /* height: 0; */
    transform: scale(0.7);
    visibility: hidden;
    z-index: -9999;
  }
  to {
    z-index: 999;
    /* height: 100%; */
    transform: scale(1);
    /* top: 80px; */
  }
}
@keyframes dropmoveclose {
  0% {
    /* top: 0px; */
    /* height: 0; */
    /* opacity: 0; */
    visibility: hidden;
    transform: scale(0.5);
  }
  50% {
    /* height: 100%; */
    /* opacity: 0; */
    /* transform: scale(0); */
    /* top: 80px; */
  }
  100% {
    transform: scale(0);
    /* opacity: 0; */
    visibility: hidden;
  }
}

@keyframes dropmovetwo {
  0% {
    /* top: 0px; */
    /* margin-top: -20px; */
    height: 0;
    z-index: -9999;
  }
  50% {
    z-index: 999;
    height: 200px;
    margin-top: 0;

    /* top: 80px; */
  }
  100% {
    height: auto;
  }
}
@keyframes dropmovethree {
  0% {
    /* top: 0px; */
    /* margin-top: -20px; */
    height: 0;
    z-index: -9999;
    height: 200px;
  }
  50% {
    z-index: 999;
    margin-top: 0;

    /* top: 80px; */
  }
  100% {
    height: 0;
  }
}
@keyframes dropmovefour {
  0% {
    /* top: 0px; */
    /* margin-top: -20px; */
    height: 0;
    z-index: -9999;
    height: 500px;
  }
  50% {
    z-index: 999;
    margin-top: 0;

    /* top: 80px; */
  }
  100% {
    height: 0;
  }
}
@keyframes headerdown {
  from {
    box-shadow: none;
    top: 0;
  }
  to {
    top: 0;
    box-shadow: 0px 3px 16px rgba(26, 36, 57, 0.1);
  }
}
@media (min-width: 1025px) {
  .feture .jss1601 {
    display: grid;
    padding: 24px 0px;
    grid-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .feture .jss1753.jss1753 {
    min-height: 64px;
    padding-bottom: 0;
  }

  .feture .jss1738 {
    padding-bottom: 15px;
  }
  /*  */
  .feture .jss1753 .jss1745 {
    height: 100%;
    padding: 16px 20px;
  }

  .feture .jss1745 {
    color: #1f2226;
    display: flex;
    font-size: 16px;
    font-style: normal;
    align-items: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    justify-content: flex-start;
  }

  .feture .MuiButton-disableElevation-122 {
    box-shadow: none;
  }

  .feture .MuiButton-text-113 {
    color: #1f2226;
    height: auto;
    padding: 0;
    min-width: 0;
    background-color: transparent;
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: linear;
  }
  .feture h4,
  .feture p {
    margin: 0;
  }
  .jss1738:hover .jss1747 {
    transform: translateX(2px);
  }

  .feture a {
    text-decoration: none;
  }
  .feture .MuiButton-root-111 {
    color: #1f2226;
    height: 54px;
    padding: 15px 25px;
    font-size: 18px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Inter-Bold", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 12px;
    text-transform: initial;
    text-decoration: none;
  }
  /* .feture .MuiButtonBase-root-138 {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  } */
  .feture .jss1753 .jss1745 > span {
    display: flex;
    align-items: flex-start;
  }

  .feture .jss1745 > span {
    display: inline-block;
    text-align: left;
  }
  .feture .MuiButton-label-112 {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }
  .feture .jss1753 .jss1745 img {
    margin-right: 16px;
  }
  .feture .jss1746 {
    width: 60px;
    height: 60px;
  }
  .feture .jss1739 {
    width: 100%;
  }
  .feture .jss1740 {
    display: flex;
    align-items: center;
  }
  .feture .jss1753 .jss1745 .jss1741 {
    color: #414142;
    line-height: normal;
    font-size: 21px;
    font-family: "Inter-Bold", sans-serif;
    font-weight: 600;
  }
  .feture .jss1747 {
    /*color: #bfc6d0;*/
    color: #3060df;
    width: 13px;
    margin-top: -1px;
    transition: transform 0.15s;
    margin-left: 8px;
    vertical-align: middle;
  }

  .feture .jss1753 .jss1745 .jss1748 {
    color: #82899a;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
  }
}
@media (max-width: 1024px) {
  .custom-ft .jss2470.jss2470 {
    min-height: auto;
    padding-bottom: 16px;
  }
  .custom-ft .jss2470 .jss2462 {
    padding: 0;
    align-items: center;
  }
  .custom-ft .jss2462 {
    display: inline-flex;
  }
  .custom-ft .jss2462 {
    color: #1f2226;
    display: flex;
    font-size: 16px;
    font-style: normal;
    align-items: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    justify-content: flex-start;
  }

  .custom-ft .jss2470 .jss2462 > span {
    display: flex;
    align-items: flex-start;
  }
  .custom-ft a {
    text-decoration: none;
  }
  .custom-ft .jss2462 > span {
    display: inline-block;
    text-align: left;
  }
  .custom-ft .jss2470 .jss2462 img {
    margin-right: 12px;
  }
  .custom-ft .jss2463 {
    width: 54px;
    height: 54px;
  }
  .custom-ft .jss2456 {
    width: 100%;
  }
  .custom-ft .jss2457 {
    display: flex;
    align-items: center;
  }
  .custom-ft .jss2457 {
    display: flex;
    margin: 0;
    align-items: center;
  }
  .jss2470 .jss2462 .jss2458 {
    font-size: 16px;
  }
  .custom-ft .jss2470 .jss2462 .jss2458 {
    color: #1f2226;
    font-size: 16px;
    font-family: "Inter-Bold", sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: normal;
  }
  .jss2462:hover .jss2464 {
    transform: translateX(2px);
  }
  .custom-ft .jss2470 .jss2462 .jss2465 {
    color: #82899a;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
  }
  .custom-ft .jss2464 {
    color: #bfc6d0;
    width: 13px;
    margin-top: -1px;
    transition: transform 0.15s;
    margin-left: 8px;
    vertical-align: middle;
  }
}
@media (max-width: 1024px) {
  .header-blg .jss1751 {
    position: static;
    padding: 10px 0 !important;
  }
  .jss2930 {
    min-height: auto;
    padding-bottom: 0;
  }
  .mbl-style {
    overflow: scroll;
    padding-top: 0px;
    padding-bottom: 25px;
  }
  .jss1227 {
    margin-right: 0;
  }
  .jss2451 {
    max-height: initial !important;
  }
}
