.bjss523 {
  /*background: linear-gradient(transparent, #f2f5fa 232px);*/
  margin-top: 100px;
}
@media (max-width: 767.95px) {
  .bjss523 {
    margin-top: -290px;
  }
}
.bjss524 {
  font-size: 55px;
  max-width: 679px;
  text-align: center;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 64px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -0.02em;
}
@media (max-width: 767.95px) {
  .bjss524 {
    font-size: 24px;
    line-height: 28px;
  }
}
.bjss525 {
  margin-top: 44px;
}
@media (max-width: 767.95px) {
  .bjss525 {
    margin-top: 22px;
  }
}
.bjss526 {
  padding: 28px 39px 32px;
  background: linear-gradient(0deg, rgba(242, 245, 250, 0) 0%, #f2f5fa 100%), linear-gradient(270deg, #C9E2F5 0%, #EAF4FC 50%, #FFFFFF 100%, #FFFFFF 100%);
  border-radius: 28px;
  box-shadow: 0px 10px 15px rgba(72, 134, 255, 0.2);
}
@media (max-width: 767.95px) {
  .bjss526 {
    padding: 28px 32px 32px;
  }
}
.bjss528 {
  width: 64px;
  height: 64px;
}
.bjss529 {
  padding: 71px 0 53px;
  background: linear-gradient(0deg, rgba(242, 245, 250, 0) 0%, #f2f5fa 100%), linear-gradient(270deg, #C9E2F5 0%, #EAF4FC 50%, #FFFFFF 100%, #FFFFFF 100%);
  text-align: center;
  border-radius: 28px;
}
.bjss529 .bjss530 {
  margin-top: 0;
}
.bjss529 .bjss531 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.95px) {
  .bjss529 {
    padding: 40px 32px 35px;
    text-align: left;
  }
  .bjss529 .bjss531 {
    margin-top: 16px;
  }
}
.bjss530 {
  font-size: 24px;
  margin-top: 40px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 767.95px) {
  .bjss530 {
    font-size: 20px;
    line-height: 28px;
  }
}
.bjss531 {
  color: black;
  opacity: 0.7;
  font-size: 17px;
  margin-top: 4.8px;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  line-height: 24px;
}
