.banner-sprinkle {
  background: linear-gradient(180deg, rgba(53, 109, 243, 0.1) 0%, #ffffff 100%),linear-gradient(270deg, rgba(53, 109, 243, 0.5) 0%, rgba(242, 245, 250, 0.7) 50%, rgba(53, 109, 243, 0.5) 100%);
}

.ajss164 {
  padding: 208px 0px 120px;
  overflow: hidden;
}
@media (max-width: 959.95px) {
  .ajss164 {
    padding: 48px 0px 48px;
  }
}
@media (max-width: 767.95px) {
  .ajss164 {
    padding: 0px 0px 48px;
  }
}
.aMuiPaper-root-174 {
  color: #1f2226;
  transition: none;
  /*background-color: #f2f5fa;*/
}
.ajss165 {
  position: relative;
  text-align: center;
}
@media (max-width: 767.95px) {
  .ajss165 {
    padding: 64px 20px 0px;
    background-color: #fff;
  }
}
.ajss166.ajss166 {
  font-size: 72px;
  font-weight: 600;
  line-height: 76px;
  margin-bottom: 24px;
}
.ajss166.ajss166 span {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.ajss166.ajss166 span span {
  transition-duration: 350ms;
  transition-property: opacity, transform;
  transition-timing-function: linear;
}
.ajss166.ajss166 span span:first-of-type {
  transition-delay: 200ms;
}
.ajss166.ajss166 span span:nth-of-type(2) {
  transition-delay: 400ms;
}
.ajss166.ajss166 span span:last-of-type {
  transition-delay: 600ms;
}
.ajss166.ajss166 > span > span:nth-child(2) {
  /*background: linear-gradient(
      270.06deg,
      #ff820e 7.8%,
      #7926ff 52.51%,
      #356df3 91.97%
    ),
    #1f2226;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
@media (max-width: 959.95px) {
  .ajss166.ajss166 {
    font-size: 34px;
    line-height: 40px;
  }
  .ajss166.ajss166 span {
    display: inline;
  }
}
.ajss166.ajss166::before,
.ajss166.ajss166::after {
  top: -160px;
  width: 200px;
  height: 772px;
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  background-size: contain;
  background-image: url(https://www.ankr.com/_next/static/images/arrow-829fa317dd60907f1504afda72b35851.png);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 650ms;
  transition-property: opacity, transform;
  transition-timing-function: linear;
}
.ajss166.ajss166::before {
  left: 0;
  transform: translateX(0);
  background-position: left, center;
}
.ajss166.ajss166::after {
  right: 0;
  transform: rotateY(180deg) translateX(0);
  background-position: right, center;
}
@media (max-width: 959.95px) {
  .ajss166.ajss166::before,
  .ajss166.ajss166::after {
    display: none;
  }
}
.ajss167.ajss167 {
  font-size: 24px;
  font-style: italic;
  opacity: 0.75;
  /*font-weight: 600;*/
  line-height: 40px;
  margin-bottom: 24px;
}
@media (max-width: 959.95px) {
  .ajss167.ajss167 {
    font-size: 17px;
    line-height: 24px;
  }
}
.ajss167.ajss167 span {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ajss167.ajss167 span span {
  transition-duration: 350ms;
  transition-property: opacity, transform;
  transition-timing-function: linear;
}
.ajss167.ajss167 span span:first-of-type {
  transition-delay: 200ms;
}
.ajss167.ajss167 span span:nth-of-type(2) {
  transition-delay: 400ms;
}
.ajss167.ajss167 span span:last-of-type {
  transition-delay: 600ms;
}
.ajss168.ajss168 {
  display: none;
}
@media (max-width: 767.95px) {
  .ajss168.ajss168 {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 56px;
  }
}
.ajss169 {
  font-family: Inter;
}
.ajss170.ajss170 span span {
  opacity: 0;
  transform: translateY(30px);
}
.ajss170.ajss170::before {
  opacity: 0;
  transform: translateX(-100%);
}
.ajss170.ajss170::after {
  opacity: 0;
  transform: rotateY(180deg) translateX(-100%);
}
.ajss171.ajss171 {
  margin-top: 136px;
}
@media (max-width: 1439.95px) {
  .ajss171.ajss171 {
    margin-top: 40px;
  }
}
.ajss172.ajss172 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1439.95px) {
  .ajss172.ajss172 {
    gap: 10px;
  }
}
@media (max-width: 959.95px) {
  .ajss172.ajss172 {
    gap: unset;
    justify-content: flex-start;
  }
}
.ajss173 {
  display: flex;
  max-width: calc(100% / 7);
  flex-basis: calc(100% / 7);
  align-items: center;
  justify-content: center;
}
@media (max-width: 959.95px) {
  .ajss173 {
    margin: 32px 0px;
    max-width: 50%;
    flex-basis: 50%;
    justify-content: flex-start;
  }
}

.aMuiTypography-root-134 {
  margin: 0;
}
.aMuiTypography-body2-135 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-body1-136 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-body1-136 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (min-width: 960px) {
  .aMuiTypography-body1-136 {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-body1-136 {
    font-size: 16px;
  }
}
.aMuiTypography-caption-137 {
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0;
  text-transform: none;
}
.aMuiTypography-button-138 {
  font-size: 0.875rem;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
}
.aMuiTypography-h1-139 {
  color: #1f2226;
  font-size: 90px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h1-139 {
    font-size: 48px;
    line-height: 1.2;
  }
}
@media (max-width: 767.95px) {
  .aMuiTypography-h1-139 {
    font-size: 36px;
    line-height: 1.2;
  }
}
.aMuiTypography-h2-140 {
  color: #1f2226;
  font-size: 48px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h2-140 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h2-140 {
    font-size: 36px;
  }
}
.aMuiTypography-h3-141 {
  color: #1f2226;
  font-size: 30px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h3-141 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h3-141 {
    font-size: 21px;
  }
}
.aMuiTypography-h4-142 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h4-142 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h4-142 {
    font-size: 15px;
  }
}
.aMuiTypography-h5-143 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h5-143 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h5-143 {
    font-size: 14px;
  }
}
.aMuiTypography-h6-144 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h6-144 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h6-144 {
    font-size: 14px;
  }
}
.aMuiTypography-subtitle1-145 {
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-subtitle2-146 {
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-overline-147 {
  color: #1f2226;
  font-size: 13px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}
.aMuiTypography-srOnly-148 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.aMuiTypography-alignLeft-149 {
  text-align: left;
}
.aMuiTypography-alignCenter-150 {
  text-align: center;
}
.aMuiTypography-alignRight-151 {
  text-align: right;
}
.aMuiTypography-alignJustify-152 {
  text-align: justify;
}
.aMuiTypography-noWrap-153 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.aMuiTypography-gutterBottom-154 {
  margin-bottom: 0.35em;
}
.aMuiTypography-paragraph-155 {
  margin-bottom: 16px;
}
.aMuiTypography-colorInherit-156 {
  color: inherit;
}
.aMuiTypography-colorPrimary-157 {
  color: #356df3;
}
.aMuiTypography-colorSecondary-158 {
  color: #f50057;
}
.aMuiTypography-colorTextPrimary-159 {
  color: #1f2226;
}
.aMuiTypography-colorTextSecondary-160 {
  color: #356df3;
}
.aMuiTypography-colorError-161 {
  color: #f1534c;
}
.aMuiTypography-displayInline-162 {
  display: inline;
}
.aMuiTypography-displayBlock-163 {
  display: block;
}
.aMuiTypography-root-228 {
  margin: 0;
}
.aMuiTypography-body2-229 {
  color: #1f2226;
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}
.aMuiTypography-body1-230 {
  color: #1f2226;
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-body1-230 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (min-width: 960px) {
  .aMuiTypography-body1-230 {
    font-size: 20px;
    line-height: 1.4;
  }
}
.aMuiTypography-caption-231 {
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0;
  text-transform: none;
}
.aMuiTypography-button-232 {
  font-size: 0.875rem;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
}
.aMuiTypography-h1-233 {
  color: #1f2226;
  font-size: 72px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h1-233 {
    font-size: 48px;
    line-height: 1.2;
  }
}
@media (max-width: 767.95px) {
  .aMuiTypography-h1-233 {
    font-size: 36px;
    line-height: 1.2;
  }
}
.aMuiTypography-h2-234 {
  color: #1f2226;
  font-size: 55px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h2-234 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h2-234 {
    font-size: 30px;
  }
}
.aMuiTypography-h3-235 {
  color: #1f2226;
  font-size: 30px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h3-235 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h3-235 {
    font-size: 21px;
  }
}
.aMuiTypography-h4-236 {
  margin-bottom: 30px !important;
  color: #1f2226;
  font-size: 24px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h4-236 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h4-236 {
    font-size: 17px;
  }
}
.aMuiTypography-h5-237 {
  color: #1f2226;
  font-size: 24px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h5-237 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h5-237 {
    font-size: 17px;
  }
}
.aMuiTypography-h6-238 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h6-238 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h6-238 {
    font-size: 14px;
  }
}
.aMuiTypography-subtitle1-239 {
  font-size: 17px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-subtitle2-240 {
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-overline-241 {
  color: #1f2226;
  font-size: 13px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}
.aMuiTypography-srOnly-242 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.aMuiTypography-alignLeft-243 {
  text-align: left;
}
.aMuiTypography-alignCenter-244 {
  text-align: center;
}
.aMuiTypography-alignRight-245 {
  text-align: right;
}
.aMuiTypography-alignJustify-246 {
  text-align: justify;
}
.aMuiTypography-noWrap-247 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.aMuiTypography-gutterBottom-248 {
  margin-bottom: 0.35em;
}
.aMuiTypography-paragraph-249 {
  margin-bottom: 16px;
}
.aMuiTypography-colorInherit-250 {
  color: inherit;
}
.aMuiTypography-colorPrimary-251 {
  color: #356df3;
}
.aMuiTypography-colorSecondary-252 {
  color: #f50057;
}
.aMuiTypography-colorTextPrimary-253 {
  color: #1f2226;
}
.aMuiTypography-colorTextSecondary-254 {
  color: #356df3;
}
.aMuiTypography-colorError-255 {
  color: #f1534c;
}
.aMuiTypography-displayInline-256 {
  display: inline;
}
.aMuiTypography-displayBlock-257 {
  display: block;
}
.aMuiTypography-root-514 {
  margin: 0;
}
.aMuiTypography-body2-515 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-body1-516 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-body1-516 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-body1-516 {
    font-size: 16px;
  }
}
.aMuiTypography-caption-517 {
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0;
  text-transform: none;
}
.aMuiTypography-button-518 {
  font-size: 0.875rem;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
}
.aMuiTypography-h1-519 {
  color: #1f2226;
  font-size: 90px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h1-519 {
    font-size: 48px;
    line-height: 1.2;
  }
}
@media (max-width: 767.95px) {
  .aMuiTypography-h1-519 {
    font-size: 36px;
    line-height: 1.2;
  }
}
.aMuiTypography-h2-520 {
  color: #1f2226;
  font-size: 48px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h2-520 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h2-520 {
    font-size: 36px;
  }
}
.aMuiTypography-h3-521 {
  color: #1f2226;
  font-size: 30px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h3-521 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h3-521 {
    font-size: 21px;
  }
}
.aMuiTypography-h4-522 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h4-522 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h4-522 {
    font-size: 15px;
  }
}
.aMuiTypography-h5-523 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h5-523 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h5-523 {
    font-size: 14px;
  }
}
.aMuiTypography-h6-524 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .aMuiTypography-h6-524 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .aMuiTypography-h6-524 {
    font-size: 14px;
  }
}
.aMuiTypography-subtitle1-525 {
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-subtitle2-526 {
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.aMuiTypography-overline-527 {
  color: #1f2226;
  font-size: 13px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}
.aMuiTypography-srOnly-528 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.aMuiTypography-alignLeft-529 {
  text-align: left;
}
.aMuiTypography-alignCenter-530 {
  text-align: center;
}
.aMuiTypography-alignRight-531 {
  text-align: right;
}
.aMuiTypography-alignJustify-532 {
  text-align: justify;
}
.aMuiTypography-noWrap-533 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.aMuiTypography-gutterBottom-534 {
  margin-bottom: 0.35em;
}
.aMuiTypography-paragraph-535 {
  margin-bottom: 16px;
}
.aMuiTypography-colorInherit-536 {
  color: inherit;
}
.aMuiTypography-colorPrimary-537 {
  color: #356df3;
}
.aMuiTypography-colorSecondary-538 {
  color: #f50057;
}
.aMuiTypography-colorTextPrimary-539 {
  color: #1f2226;
}
.aMuiTypography-colorTextSecondary-540 {
  color: #356df3;
}
.aMuiTypography-colorError-541 {
  color: #f1534c;
}
.aMuiTypography-displayInline-542 {
  display: inline;
}
.aMuiTypography-displayBlock-543 {
  display: block;
}

.aMuiButton-root-106 {
  color: #1f2226;
  height: 54px;
  padding: 15px 25px;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 12px;
  text-transform: initial;
  text-decoration: none;
}
.aMuiButton-root-106:hover {
  text-decoration: none;
  background-color: rgba(31, 34, 38, 0.04);
}
.aMuiButton-root-106.aMui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 1279.95px) {
  .aMuiButton-root-106 {
    height: 48px;
    padding: 14px 20px;
    font-size: 15px;
    border-radius: 15px;
  }
}
@media (hover: none) {
  .aMuiButton-root-106:hover {
    background-color: transparent;
  }
}
.aMuiButton-root-106:hover.aMui-disabled {
  background-color: transparent;
}
.aMuiButton-label-107 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.aMuiButton-text-108 {
  color: #1f2226;
  height: auto;
  padding: 0;
  min-width: 0;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.aMuiButton-text-108:hover,
.aMuiButton-text-108:focus {
  color: #356df3;
  background-color: transparent;
}
.aMuiButton-text-108:active {
  color: #1f2226;
}
.aMuiButton-text-108.aMui-disabled {
  color: #8f9093;
}
.aMuiButton-textPrimary-109 {
  color: #356df3;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.aMuiButton-textPrimary-109:hover {
  background-color: rgba(53, 109, 243, 0.04);
}
.aMuiButton-textPrimary-109:hover,
.aMuiButton-textPrimary-109:focus {
  color: #1f2226;
  background-color: transparent;
}
.aMuiButton-textPrimary-109:active {
  color: #356df3;
}
.aMuiButton-textPrimary-109.aMui-disabled {
  color: #8f9093;
}
@media (hover: none) {
  .aMuiButton-textPrimary-109:hover {
    background-color: transparent;
  }
}
.aMuiButton-textSecondary-110 {
  color: #f50057;
}
.aMuiButton-textSecondary-110:hover {
  background-color: rgba(245, 0, 87, 0.04);
}
@media (hover: none) {
  .aMuiButton-textSecondary-110:hover {
    background-color: transparent;
  }
}
.aMuiButton-outlined-111 {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 16px;
}
.aMuiButton-outlined-111.aMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.aMuiButton-outlinedPrimary-112 {
  color: #356df3;
  border: 1px solid rgba(53, 109, 243, 0.5);
}
.aMuiButton-outlinedPrimary-112:hover {
  border: 1px solid #356df3;
  background-color: rgba(53, 109, 243, 0.04);
}
@media (hover: none) {
  .aMuiButton-outlinedPrimary-112:hover {
    background-color: transparent;
  }
}
.aMuiButton-outlinedSecondary-113 {
  color: #f50057;
  border: 1px solid rgba(245, 0, 87, 0.5);
}
.aMuiButton-outlinedSecondary-113:hover {
  border: 1px solid #f50057;
  background-color: rgba(245, 0, 87, 0.04);
}
.aMuiButton-outlinedSecondary-113.aMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .aMuiButton-outlinedSecondary-113:hover {
    background-color: transparent;
  }
}
.aMuiButton-contained-114 {
  color: #fff;
  box-shadow: none;
  background-color: #356df3;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.aMuiButton-contained-114:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5d5;
}
.aMuiButton-contained-114.aMui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.aMuiButton-contained-114:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.aMuiButton-contained-114.aMui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: #8f9093;
}
.aMuiButton-contained-114:hover,
.aMuiButton-contained-114:focus,
.aMuiButton-contained-114:active {
  background-color: #2f5ddd;
}
.aMuiButton-contained-114 svg {
  color: inherit !important;
  font-size: inherit;
}
@media (hover: none) {
  .aMuiButton-contained-114:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
  }
}
.aMuiButton-contained-114:hover.aMui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}
.aMuiButton-containedPrimary-115 {
  color: #fff;
  background-color: #1f2226;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.aMuiButton-containedPrimary-115:hover {
  background-color: #2f5ddd;
}
.aMuiButton-containedPrimary-115:hover,
.aMuiButton-containedPrimary-115:focus {
  background-color: #356df3;
}
.aMuiButton-containedPrimary-115:active {
  background-color: #1f2226;
}
.aMuiButton-containedPrimary-115.aMui-disabled {
  background-color: #8f9093;
}
@media (hover: none) {
  .aMuiButton-containedPrimary-115:hover {
    background-color: #356df3;
  }
}
.aMuiButton-containedSecondary-116 {
  color: #1f2226;
  background-color: #f2f5fa;
}
.aMuiButton-containedSecondary-116:hover {
  background-color: #c51162;
}
.aMuiButton-containedSecondary-116:hover,
.aMuiButton-containedSecondary-116:focus {
  background-color: #fff;
}
@media (hover: none) {
  .aMuiButton-containedSecondary-116:hover {
    background-color: #f50057;
  }
}
.aMuiButton-disableElevation-117 {
  box-shadow: none;
}
.aMuiButton-disableElevation-117:hover {
  box-shadow: none;
}
.aMuiButton-disableElevation-117.aMui-focusVisible {
  box-shadow: none;
}
.aMuiButton-disableElevation-117:active {
  box-shadow: none;
}
.aMuiButton-disableElevation-117.aMui-disabled {
  box-shadow: none;
}
.aMuiButton-colorInherit-118 {
  color: inherit;
  border-color: currentColor;
}
.aMuiButton-textSizeSmall-119 {
  padding: 0;
  font-size: 0.8125rem;
}
.aMuiButton-textSizeLarge-120 {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.aMuiButton-outlinedSizeSmall-121 {
  padding: 8px 16px;
  font-size: 0.8125rem;
}
.aMuiButton-outlinedSizeLarge-122 {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.aMuiButton-containedSizeSmall-123 {
  padding: 4px 10px;
  font-size: 0.8125rem;
}
.aMuiButton-containedSizeLarge-124 {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.aMuiButton-sizeSmall-125 {
  height: 36px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.2;
}
.aMuiButton-fullWidth-127 {
  width: 100%;
}
.aMuiButton-startIcon-128 {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.aMuiButton-startIcon-128.aMuiButton-iconSizeSmall-130 {
  margin-left: -2px;
}
.aMuiButton-endIcon-129 {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.aMuiButton-endIcon-129.aMuiButton-iconSizeSmall-130 {
  margin-right: -2px;
}
.aMuiButton-iconSizeSmall-130 > *:first-child {
  font-size: 18px;
}
.aMuiButton-iconSizeMedium-131 > *:first-child {
  font-size: 20px;
}
.aMuiButton-iconSizeLarge-132 > *:first-child {
  font-size: 22px;
}
.aMuiButton-root-260 {
  color: #1f2226;
  height: 54px;
  padding: 12px 24px;
  font-size: 16px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 18px;
  text-transform: initial;
  text-decoration: none;
}
.aMuiButton-root-260:hover {
  text-decoration: none;
  background-color: rgba(31, 34, 38, 0.04);
}
.aMuiButton-root-260.aMui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 1279.95px) {
  .aMuiButton-root-260 {
    height: 48px;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 15px;
  }
}
@media (hover: none) {
  .aMuiButton-root-260:hover {
    background-color: transparent;
  }
}
.aMuiButton-root-260:hover.aMui-disabled {
  background-color: transparent;
}
.aMuiButton-label-261 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.aMuiButton-text-262 {
  color: #1f2226;
  height: auto;
  padding: 0;
  min-width: 0;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.aMuiButton-text-262:hover,
.aMuiButton-text-262:focus {
  color: #356df3;
  background-color: transparent;
}
.aMuiButton-text-262:active {
  color: #1f2226;
}
.aMuiButton-text-262.aMui-disabled {
  color: #8f9093;
}
.aMuiButton-textPrimary-263 {
  color: #356df3;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.aMuiButton-textPrimary-263:hover {
  background-color: rgba(53, 109, 243, 0.04);
}
.aMuiButton-textPrimary-263:hover,
.aMuiButton-textPrimary-263:focus {
  color: #1f2226;
  background-color: transparent;
}
.aMuiButton-textPrimary-263:active {
  color: #356df3;
}
.aMuiButton-textPrimary-263.aMui-disabled {
  color: #8f9093;
}
@media (hover: none) {
  .aMuiButton-textPrimary-263:hover {
    background-color: transparent;
  }
}
.aMuiButton-textSecondary-264 {
  color: #f50057;
}
.aMuiButton-textSecondary-264:hover {
  background-color: rgba(245, 0, 87, 0.04);
}
@media (hover: none) {
  .aMuiButton-textSecondary-264:hover {
    background-color: transparent;
  }
}
.aMuiButton-outlined-265 {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 16px;
}
.aMuiButton-outlined-265.aMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.aMuiButton-outlinedPrimary-266 {
  color: #356df3;
  border: 1px solid rgba(53, 109, 243, 0.5);
}
.aMuiButton-outlinedPrimary-266:hover {
  border: 1px solid #356df3;
  background-color: rgba(53, 109, 243, 0.04);
}
@media (hover: none) {
  .aMuiButton-outlinedPrimary-266:hover {
    background-color: transparent;
  }
}
.aMuiButton-outlinedSecondary-267 {
  color: #f50057;
  border: 1px solid rgba(245, 0, 87, 0.5);
}
.aMuiButton-outlinedSecondary-267:hover {
  border: 1px solid #f50057;
  background-color: rgba(245, 0, 87, 0.04);
}
.aMuiButton-outlinedSecondary-267.aMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .aMuiButton-outlinedSecondary-267:hover {
    background-color: transparent;
  }
}
.aMuiButton-contained-268 {
  color: #fff;
  box-shadow: none;
  background-color: #f2f5fa;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.aMuiButton-contained-268:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5d5;
}
.aMuiButton-contained-268.aMui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.aMuiButton-contained-268:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.aMuiButton-contained-268.aMui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: #8f9093;
}
.aMuiButton-contained-268:hover,
.aMuiButton-contained-268:focus,
.aMuiButton-contained-268:active {
  background-color: #2f5ddd;
}
.aMuiButton-contained-268 svg {
  color: inherit !important;
  font-size: inherit;
}
@media (hover: none) {
  .aMuiButton-contained-268:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
  }
}
.aMuiButton-contained-268:hover.aMui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}
.aMuiButton-containedPrimary-269 {
  color: #fff;
  background-color: #356df3;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.aMuiButton-containedPrimary-269:hover {
  background-color: #2f5ddd;
}
.aMuiButton-containedPrimary-269:hover,
.aMuiButton-containedPrimary-269:focus {
  background-color: #2a5bd1;
}
.aMuiButton-containedPrimary-269:active {
  background-color: #1f2226;
}
.aMuiButton-containedPrimary-269.aMui-disabled {
  background-color: #8f9093;
}
@media (hover: none) {
  .aMuiButton-containedPrimary-269:hover {
    background-color: #356df3;
  }
}
.aMuiButton-containedSecondary-270 {
  color: #1f2226;
  background-color: #f2f5fa;
}
.aMuiButton-containedSecondary-270:hover {
  background-color: #c51162;
}
.aMuiButton-containedSecondary-270:hover,
.aMuiButton-containedSecondary-270:focus {
  background-color: #fff;
}
@media (hover: none) {
  .aMuiButton-containedSecondary-270:hover {
    background-color: #f50057;
  }
}
.aMuiButton-disableElevation-271 {
  box-shadow: none;
}
.aMuiButton-disableElevation-271:hover {
  box-shadow: none;
}
.aMuiButton-disableElevation-271.aMui-focusVisible {
  box-shadow: none;
}
.aMuiButton-disableElevation-271:active {
  box-shadow: none;
}
.aMuiButton-disableElevation-271.aMui-disabled {
  box-shadow: none;
}
.aMuiButton-colorInherit-272 {
  color: inherit;
  border-color: currentColor;
}
.aMuiButton-textSizeSmall-273 {
  padding: 0;
  font-size: 0.8125rem;
}
.aMuiButton-textSizeLarge-274 {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.aMuiButton-outlinedSizeSmall-275 {
  padding: 8px 16px;
  font-size: 0.8125rem;
}
.aMuiButton-outlinedSizeLarge-276 {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.aMuiButton-containedSizeSmall-277 {
  padding: 4px 10px;
  font-size: 0.8125rem;
}
.aMuiButton-containedSizeLarge-278 {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.aMuiButton-sizeSmall-279 {
  height: 36px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.2;
}
.aMuiButton-fullWidth-281 {
  width: 100%;
}
.aMuiButton-startIcon-282 {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.aMuiButton-startIcon-282.aMuiButton-iconSizeSmall-284 {
  margin-left: -2px;
}
.aMuiButton-endIcon-283 {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.aMuiButton-endIcon-283.aMuiButton-iconSizeSmall-284 {
  margin-right: -2px;
}
.aMuiButton-iconSizeSmall-284 > *:first-child {
  font-size: 18px;
}
.aMuiButton-iconSizeMedium-285 > *:first-child {
  font-size: 20px;
}
.aMuiButton-iconSizeLarge-286 > *:first-child {
  font-size: 22px;
}
.aMuiButton-root-544 {
  color: #1f2226;
  height: 54px;
  padding: 15px 25px;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 12px;
  text-transform: initial;
  text-decoration: none;
}
.aMuiButton-root-544:hover {
  text-decoration: none;
  background-color: rgba(31, 34, 38, 0.04);
}
.aMuiButton-root-544.aMui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 1279.95px) {
  .aMuiButton-root-544 {
    height: 48px;
    padding: 14px 20px;
    font-size: 15px;
  }
}
@media (hover: none) {
  .aMuiButton-root-544:hover {
    background-color: transparent;
  }
}
.aMuiButton-root-544:hover.aMui-disabled {
  background-color: transparent;
}
.aMuiButton-label-545 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.aMuiButton-text-546 {
  color: #1f2226;
  height: auto;
  padding: 0;
  min-width: 0;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.aMuiButton-text-546:hover,
.aMuiButton-text-546:focus {
  color: #356df3;
  background-color: transparent;
}
.aMuiButton-text-546:active {
  color: #1f2226;
}
.aMuiButton-text-546.aMui-disabled {
  color: #8f9093;
}
.aMuiButton-textPrimary-547 {
  color: #356df3;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.aMuiButton-textPrimary-547:hover {
  background-color: rgba(53, 109, 243, 0.04);
}
.aMuiButton-textPrimary-547:hover,
.aMuiButton-textPrimary-547:focus {
  color: #1f2226;
  background-color: transparent;
}
.aMuiButton-textPrimary-547:active {
  color: #356df3;
}
.aMuiButton-textPrimary-547.aMui-disabled {
  color: #8f9093;
}
@media (hover: none) {
  .aMuiButton-textPrimary-547:hover {
    background-color: transparent;
  }
}
.aMuiButton-textSecondary-548 {
  color: #f50057;
}
.aMuiButton-textSecondary-548:hover {
  background-color: rgba(245, 0, 87, 0.04);
}
@media (hover: none) {
  .aMuiButton-textSecondary-548:hover {
    background-color: transparent;
  }
}
.aMuiButton-outlined-549 {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 16px;
}
.aMuiButton-outlined-549.aMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.aMuiButton-outlinedPrimary-550 {
  color: #356df3;
  border: 1px solid rgba(53, 109, 243, 0.5);
}
.aMuiButton-outlinedPrimary-550:hover {
  border: 1px solid #356df3;
  background-color: rgba(53, 109, 243, 0.04);
}
@media (hover: none) {
  .aMuiButton-outlinedPrimary-550:hover {
    background-color: transparent;
  }
}
.aMuiButton-outlinedSecondary-551 {
  color: #f50057;
  border: 1px solid rgba(245, 0, 87, 0.5);
}
.aMuiButton-outlinedSecondary-551:hover {
  border: 1px solid #f50057;
  background-color: rgba(245, 0, 87, 0.04);
}
.aMuiButton-outlinedSecondary-551.aMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .aMuiButton-outlinedSecondary-551:hover {
    background-color: transparent;
  }
}
.aMuiButton-contained-552 {
  color: #fff;
  box-shadow: none;
  background-color: #356df3;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.aMuiButton-contained-552:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5d5;
}
.aMuiButton-contained-552.aMui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.aMuiButton-contained-552:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.aMuiButton-contained-552.aMui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: #8f9093;
}
.aMuiButton-contained-552:hover,
.aMuiButton-contained-552:focus,
.aMuiButton-contained-552:active {
  background-color: #2f5ddd;
}
.aMuiButton-contained-552 svg {
  color: inherit !important;
  font-size: inherit;
}
@media (hover: none) {
  .aMuiButton-contained-552:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
  }
}
.aMuiButton-contained-552:hover.aMui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}
.aMuiButton-containedPrimary-553 {
  color: #fff;
  background-color: #1f2226;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.aMuiButton-containedPrimary-553:hover {
  background-color: #2f5ddd;
}
.aMuiButton-containedPrimary-553:hover,
.aMuiButton-containedPrimary-553:focus {
  background-color: #356df3;
}
.aMuiButton-containedPrimary-553:active {
  background-color: #1f2226;
}
.aMuiButton-containedPrimary-553.aMui-disabled {
  background-color: #8f9093;
}
@media (hover: none) {
  .aMuiButton-containedPrimary-553:hover {
    background-color: #356df3;
  }
}
.aMuiButton-containedSecondary-554 {
  color: #fff;
  background-color: #f50057;
}
.aMuiButton-containedSecondary-554:hover {
  background-color: #c51162;
}
@media (hover: none) {
  .aMuiButton-containedSecondary-554:hover {
    background-color: #f50057;
  }
}
.aMuiButton-disableElevation-555 {
  box-shadow: none;
}
.aMuiButton-disableElevation-555:hover {
  box-shadow: none;
}
.aMuiButton-disableElevation-555.aMui-focusVisible {
  box-shadow: none;
}
.aMuiButton-disableElevation-555:active {
  box-shadow: none;
}
.aMuiButton-disableElevation-555.aMui-disabled {
  box-shadow: none;
}
.aMuiButton-colorInherit-556 {
  color: inherit;
  border-color: currentColor;
}
.aMuiButton-textSizeSmall-557 {
  padding: 0;
  font-size: 0.8125rem;
}
.aMuiButton-textSizeLarge-558 {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.aMuiButton-outlinedSizeSmall-559 {
  padding: 8px 16px;
  font-size: 0.8125rem;
}
.aMuiButton-outlinedSizeLarge-560 {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.aMuiButton-containedSizeSmall-561 {
  padding: 4px 10px;
  font-size: 0.8125rem;
}
.aMuiButton-containedSizeLarge-562 {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.aMuiButton-sizeSmall-563 {
  height: 36px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.2;
}
.aMuiButton-fullWidth-565 {
  width: 100%;
}
.aMuiButton-startIcon-566 {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.aMuiButton-startIcon-566.aMuiButton-iconSizeSmall-568 {
  margin-left: -2px;
}
.aMuiButton-endIcon-567 {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.aMuiButton-endIcon-567.aMuiButton-iconSizeSmall-568 {
  margin-right: -2px;
}
.aMuiButton-iconSizeSmall-568 > *:first-child {
  font-size: 18px;
}
.aMuiButton-iconSizeMedium-569 > *:first-child {
  font-size: 20px;
}
.aMuiButton-iconSizeLarge-570 > *:first-child {
  font-size: 22px;
}

.aMuiPaper-root-443 {
  color: #1f2226;
  transition: none;
  background-color: #f2f5fa;
}
.aMuiPaper-rounded-444 {
  border-radius: 4px;
}
.aMuiPaper-outlined-445 {
  border: 1px solid #8f9093;
}
.aMuiPaper-elevation0-446 {
  box-shadow: none;
}
.aMuiButtonBase-root-133 {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.aMuiButtonBase-root-133::-moz-focus-inner {
  border-style: none;
}
.aMuiButtonBase-root-133.aMui-disabled {
  cursor: default;
  pointer-events: none;
}
@media print {
  .aMuiButtonBase-root-133 {
    -webkit-print-color-adjust: exact;
  }
}

.aMuiButtonBase-root-571 {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.aMuiButtonBase-root-571::-moz-focus-inner {
  border-style: none;
}
.aMuiButtonBase-root-571.aMui-disabled {
  cursor: default;
  pointer-events: none;
}
@media print {
  .aMuiButtonBase-root-571 {
    -webkit-print-color-adjust: exact;
  }
}

.aMuiAppBar-root-17 {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}
.aMuiAppBar-positionFixed-18 {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
}
@media print {
  .aMuiAppBar-positionFixed-18 {
    position: absolute;
  }
}
.aMuiAppBar-positionAbsolute-19 {
  top: 0;
  left: auto;
  right: 0;
  position: absolute;
}
.aMuiAppBar-positionSticky-20 {
  top: 0;
  left: auto;
  right: 0;
  position: sticky;
}
.aMuiAppBar-positionStatic-21 {
  position: static;
}
.aMuiAppBar-positionRelative-22 {
  position: relative;
}
.aMuiAppBar-colorDefault-23 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}
.aMuiAppBar-colorPrimary-24 {
  color: #fff;
  background-color: #f2f5fa;
}
.aMuiAppBar-colorSecondary-25 {
  color: #fff;
  background-color: #f50057;
}
.aMuiAppBar-colorInherit-26 {
  color: inherit;
}
.aMuiAppBar-colorTransparent-27 {
  color: inherit;
  background-color: transparent;
}
.aMuiPopover-paper-970 {
  outline: 0;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 16px;
  max-height: calc(100% - 32px);
  min-height: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}
.aMuiContainer-root-81 {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .aMuiContainer-root-81 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.aMuiContainer-root-81.aMuiContainer-root-81 {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .aMuiContainer-root-81.aMuiContainer-root-81 {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .aMuiContainer-root-81.aMuiContainer-root-81 {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .aMuiContainer-root-81.aMuiContainer-root-81 {
    padding: 0 20px;
  }
}
.aMuiContainer-disableGutters-82 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .aMuiContainer-fixed-83 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .aMuiContainer-fixed-83 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .aMuiContainer-fixed-83 {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .aMuiContainer-fixed-83 {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .aMuiContainer-maxWidthXs-84 {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .aMuiContainer-maxWidthSm-85 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .aMuiContainer-maxWidthMd-86 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .aMuiContainer-maxWidthLg-87 {
    max-width: 1280px;
  }
}
.aMuiContainer-maxWidthLg-87.aMuiContainer-maxWidthLg-87 {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .aMuiContainer-maxWidthXl-88 {
    max-width: 1440px;
  }
}
.aMuiContainer-root-288 {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .aMuiContainer-root-288 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.aMuiContainer-root-288.aMuiContainer-root-288 {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .aMuiContainer-root-288.aMuiContainer-root-288 {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .aMuiContainer-root-288.aMuiContainer-root-288 {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .aMuiContainer-root-288.aMuiContainer-root-288 {
    padding: 0 20px;
  }
}
.aMuiContainer-disableGutters-289 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .aMuiContainer-fixed-290 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .aMuiContainer-fixed-290 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .aMuiContainer-fixed-290 {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .aMuiContainer-fixed-290 {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .aMuiContainer-maxWidthXs-291 {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .aMuiContainer-maxWidthSm-292 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .aMuiContainer-maxWidthMd-293 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .aMuiContainer-maxWidthLg-294 {
    max-width: 1280px;
  }
}
.aMuiContainer-maxWidthLg-294.aMuiContainer-maxWidthLg-294 {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .aMuiContainer-maxWidthXl-295 {
    max-width: 1440px;
  }
}
.aMuiContainer-root-502 {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .aMuiContainer-root-502 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.aMuiContainer-root-502.aMuiContainer-root-502 {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .aMuiContainer-root-502.aMuiContainer-root-502 {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .aMuiContainer-root-502.aMuiContainer-root-502 {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .aMuiContainer-root-502.aMuiContainer-root-502 {
    padding: 0 20px;
  }
}
.aMuiContainer-disableGutters-503 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .aMuiContainer-fixed-504 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .aMuiContainer-fixed-504 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .aMuiContainer-fixed-504 {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .aMuiContainer-fixed-504 {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .aMuiContainer-maxWidthXs-505 {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .aMuiContainer-maxWidthSm-506 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .aMuiContainer-maxWidthMd-507 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .aMuiContainer-maxWidthLg-508 {
    max-width: 1280px;
  }
}
.aMuiContainer-maxWidthLg-508.aMuiContainer-maxWidthLg-508 {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .aMuiContainer-maxWidthXl-509 {
    max-width: 1440px;
  }
}
.aMuiDrawer-docked-946 {
  flex: 0 0 auto;
}
.aMuiDrawer-paper-947 {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
.aMuiDrawer-paperAnchorLeft-948 {
  left: 0;
  right: auto;
}
.aMuiDrawer-paperAnchorRight-949 {
  left: auto;
  right: 0;
}
.aMuiDrawer-paperAnchorTop-950 {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: auto;
  max-height: 100%;
}
.aMuiDrawer-paperAnchorBottom-951 {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  max-height: 100%;
}
.aMuiDrawer-paperAnchorDockedLeft-952 {
  border-right: 1px solid #8f9093;
}
.aMuiDrawer-paperAnchorDockedTop-953 {
  border-bottom: 1px solid #8f9093;
}
.aMuiDrawer-paperAnchorDockedRight-954 {
  border-left: 1px solid #8f9093;
}
.aMuiDrawer-paperAnchorDockedBottom-955 {
  border-top: 1px solid #8f9093;
}
.aMuiGrid-container-297 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.aMuiGrid-item-298 {
  margin: 0;
  box-sizing: border-box;
}
.aMuiGrid-zeroMinWidth-299 {
  min-width: 0;
}
.aMuiGrid-direction-xs-column-300 {
  flex-direction: column;
}
.aMuiGrid-direction-xs-column-reverse-301 {
  flex-direction: column-reverse;
}
.aMuiGrid-direction-xs-row-reverse-302 {
  flex-direction: row-reverse;
}
.aMuiGrid-wrap-xs-nowrap-303 {
  flex-wrap: nowrap;
}
.aMuiGrid-wrap-xs-wrap-reverse-304 {
  flex-wrap: wrap-reverse;
}
.aMuiGrid-align-items-xs-center-305 {
  align-items: center;
}
.aMuiGrid-align-items-xs-flex-start-306 {
  align-items: flex-start;
}
.aMuiGrid-align-items-xs-flex-end-307 {
  align-items: flex-end;
}
.aMuiGrid-align-items-xs-baseline-308 {
  align-items: baseline;
}
.aMuiGrid-align-content-xs-center-309 {
  align-content: center;
}
.aMuiGrid-align-content-xs-flex-start-310 {
  align-content: flex-start;
}
.aMuiGrid-align-content-xs-flex-end-311 {
  align-content: flex-end;
}
.aMuiGrid-align-content-xs-space-between-312 {
  align-content: space-between;
}
.aMuiGrid-align-content-xs-space-around-313 {
  align-content: space-around;
}
.aMuiGrid-justify-xs-center-314 {
  justify-content: center;
}
.aMuiGrid-justify-xs-flex-end-315 {
  justify-content: flex-end;
}
.aMuiGrid-justify-xs-space-between-316 {
  justify-content: space-between;
}
.aMuiGrid-justify-xs-space-around-317 {
  justify-content: space-around;
}
.aMuiGrid-justify-xs-space-evenly-318 {
  justify-content: space-evenly;
}
.aMuiGrid-spacing-xs-1-319 {
  width: calc(100% + 8px);
  margin: -4px;
}
.aMuiGrid-spacing-xs-1-319 > .aMuiGrid-item-298 {
  padding: 4px;
}
.aMuiGrid-spacing-xs-2-320 {
  width: calc(100% + 16px);
  margin: -8px;
}
.aMuiGrid-spacing-xs-2-320 > .aMuiGrid-item-298 {
  padding: 8px;
}
.aMuiGrid-spacing-xs-3-321 {
  width: calc(100% + 24px);
  margin: -12px;
}
.aMuiGrid-spacing-xs-3-321 > .aMuiGrid-item-298 {
  padding: 12px;
}
.aMuiGrid-spacing-xs-4-322 {
  width: calc(100% + 32px);
  margin: -16px;
}
.aMuiGrid-spacing-xs-4-322 > .aMuiGrid-item-298 {
  padding: 16px;
}
.aMuiGrid-spacing-xs-5-323 {
  width: calc(100% + 40px);
  margin: -20px;
}
.aMuiGrid-spacing-xs-5-323 > .aMuiGrid-item-298 {
  padding: 20px;
}
.aMuiGrid-spacing-xs-6-324 {
  width: calc(100% + 48px);
  margin: -24px;
}
.aMuiGrid-spacing-xs-6-324 > .aMuiGrid-item-298 {
  padding: 24px;
}
.aMuiGrid-spacing-xs-7-325 {
  width: calc(100% + 56px);
  margin: -28px;
}
.aMuiGrid-spacing-xs-7-325 > .aMuiGrid-item-298 {
  padding: 28px;
}
.aMuiGrid-spacing-xs-8-326 {
  width: calc(100% + 64px);
  margin: -32px;
}
.aMuiGrid-spacing-xs-8-326 > .aMuiGrid-item-298 {
  padding: 32px;
}
.aMuiGrid-spacing-xs-9-327 {
  width: calc(100% + 72px);
  margin: -36px;
}
.aMuiGrid-spacing-xs-9-327 > .aMuiGrid-item-298 {
  padding: 36px;
}
.aMuiGrid-spacing-xs-10-328 {
  width: calc(100% + 80px);
  margin: -40px;
}
.aMuiGrid-spacing-xs-10-328 > .aMuiGrid-item-298 {
  padding: 40px;
}
.aMuiGrid-grid-xs-auto-329 {
  flex-grow: 0;
  max-width: none;
  flex-basis: auto;
}
.aMuiGrid-grid-xs-true-330 {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
}
.aMuiGrid-grid-xs-1-331 {
  flex-grow: 0;
  max-width: 8.333333%;
  flex-basis: 8.333333%;
}
.aMuiGrid-grid-xs-2-332 {
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;
}
.aMuiGrid-grid-xs-3-333 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}
.aMuiGrid-grid-xs-4-334 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}
.aMuiGrid-grid-xs-5-335 {
  flex-grow: 0;
  max-width: 41.666667%;
  flex-basis: 41.666667%;
}
.aMuiGrid-grid-xs-6-336 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}
.aMuiGrid-grid-xs-7-337 {
  flex-grow: 0;
  max-width: 58.333333%;
  flex-basis: 58.333333%;
}
.aMuiGrid-grid-xs-8-338 {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}
.aMuiGrid-grid-xs-9-339 {
  flex-grow: 0;
  max-width: 75%;
  flex-basis: 75%;
}
.aMuiGrid-grid-xs-10-340 {
  flex-grow: 0;
  max-width: 83.333333%;
  flex-basis: 83.333333%;
}
.aMuiGrid-grid-xs-11-341 {
  flex-grow: 0;
  max-width: 91.666667%;
  flex-basis: 91.666667%;
}
.aMuiGrid-grid-xs-12-342 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .aMuiGrid-grid-sm-auto-343 {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .aMuiGrid-grid-sm-true-344 {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .aMuiGrid-grid-sm-1-345 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .aMuiGrid-grid-sm-2-346 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .aMuiGrid-grid-sm-3-347 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .aMuiGrid-grid-sm-4-348 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .aMuiGrid-grid-sm-5-349 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .aMuiGrid-grid-sm-6-350 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .aMuiGrid-grid-sm-7-351 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .aMuiGrid-grid-sm-8-352 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .aMuiGrid-grid-sm-9-353 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .aMuiGrid-grid-sm-10-354 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .aMuiGrid-grid-sm-11-355 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .aMuiGrid-grid-sm-12-356 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 960px) {
  .aMuiGrid-grid-md-auto-357 {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .aMuiGrid-grid-md-true-358 {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .aMuiGrid-grid-md-1-359 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .aMuiGrid-grid-md-2-360 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .aMuiGrid-grid-md-3-361 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .aMuiGrid-grid-md-4-362 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .aMuiGrid-grid-md-5-363 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .aMuiGrid-grid-md-6-364 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .aMuiGrid-grid-md-7-365 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .aMuiGrid-grid-md-8-366 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .aMuiGrid-grid-md-9-367 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .aMuiGrid-grid-md-10-368 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .aMuiGrid-grid-md-11-369 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .aMuiGrid-grid-md-12-370 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 1280px) {
  .aMuiGrid-grid-lg-auto-371 {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .aMuiGrid-grid-lg-true-372 {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .aMuiGrid-grid-lg-1-373 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .aMuiGrid-grid-lg-2-374 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .aMuiGrid-grid-lg-3-375 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .aMuiGrid-grid-lg-4-376 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .aMuiGrid-grid-lg-5-377 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .aMuiGrid-grid-lg-6-378 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .aMuiGrid-grid-lg-7-379 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .aMuiGrid-grid-lg-8-380 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .aMuiGrid-grid-lg-9-381 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .aMuiGrid-grid-lg-10-382 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .aMuiGrid-grid-lg-11-383 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .aMuiGrid-grid-lg-12-384 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 1440px) {
  .aMuiGrid-grid-xl-auto-385 {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .aMuiGrid-grid-xl-true-386 {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .aMuiGrid-grid-xl-1-387 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .aMuiGrid-grid-xl-2-388 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .aMuiGrid-grid-xl-3-389 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .aMuiGrid-grid-xl-4-390 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .aMuiGrid-grid-xl-5-391 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .aMuiGrid-grid-xl-6-392 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .aMuiGrid-grid-xl-7-393 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .aMuiGrid-grid-xl-8-394 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .aMuiGrid-grid-xl-9-395 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .aMuiGrid-grid-xl-10-396 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .aMuiGrid-grid-xl-11-397 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .aMuiGrid-grid-xl-12-398 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
