.jss323 {
	font-size: 18px;
	/*font-weight: 400;*/
	color: #3060DF;
}

.jss314 {
	color: #3060DF;
}

.jss322 {
	color: #3060DF;	
}

.jss321 {
	color: #3060DF;	
	font-size: 22px;
}

.jss320 {
	border: 1px solid #3060DF;
}