.header-title {
  font-size: 44px;
}

.customU1 {
  gap: 80px;
  display: grid;
  padding: 0 0 80px;
}
@media (min-width: 960px) {
  .customU1 {
    gap: 0 60px;
    padding: 0 0 120px;
    grid-template-columns: 1fr 1fr;
  }
}

.customU2 {
  color: #356df3;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}

.customU3 {
  color: #1f2226;
  font-size: 34px;
  /*font-family: TT Firs Neue;*/
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 16px;
  font-feature-settings: "ss02" on, "ss01" on;
}

.customU4 {
  display: flex;
  margin-bottom: 16px;
}
.customU5 {
  color: #2e343c;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 17px;
  background: #f2f5fa;
  line-height: 24px;
  border-radius: 20px;
}
.customU5:not(:last-child) {
  margin-right: 4px;
}

.customU6 {
  color: #ffffff;
  background: #3060df;
}

.cutomU7 {
  color: #1f2226;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}

.customU8 {
  color: #2e343c;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 959.95px) {
  .customU8 {
    font-size: 17px;
    line-height: 24px;
  }
}
.customU8:not(:last-child) {
  margin-bottom: 28px;
}

.cutomU9 {
  gap: 9px;
  color: #2e343c;
  display: grid;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  grid-template-columns: auto 1fr;
}
.cutomU9:not(:last-child) {
  margin-bottom: 12px;
}
.cutomU9 svg {
  margin-top: 4px;
}

.tjss292 {
  margin: 0 auto;
  max-width: 100%;
}
.tjss293 {
  width: 100%;
  max-width: 500px;
}
@media (max-width: 959.95px) {
  .tjss293 {
    margin-top: 20px;
  }
}
.tjss294 {
  align-items: center;
}
.tjss295 {
  width: 100%;
}
@media (max-width: 959.95px) {
  .tjss295 {
    width: 100%;
    max-width: 335px;
    margin-bottom: 40px;
  }
}

/*  */
.eIrGCW {
  width: 100%;
  background: url(https://www.cobo.com/_next/static/images/bg-31fb9c6….png)
    center center / 100% 100% no-repeat;
}

.dFBvfB {
  padding: 0px 0 60px 0;
  margin: 0px auto;

  text-align: center;
}
.lpfdVo {
  width: 400px;
  height: 190px;
}
.iWFyiW {
  font-size: 36px;
  font-weight: normal;
  color: rgb(45, 46, 45);
  line-height: 42px;
  letter-spacing: 2px;
}
.eeHchE {
  padding: 50px 0px 90px;
}

.wiqzk {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.juAeTq {
  font-size: 20px;
  color: rgb(45, 46, 45);
  line-height: 23px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}
.jjuWRE {
  margin: 16px 0px 0px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}
.hQEHfU {
  width: 20px;
  height: 100%;
  flex-shrink: 0;
}
.lpfdVo {
  transition: all 0.3s ease 0s;

  background: linear-gradient(270deg, #fbfffd 0%, #e1f5ff 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px 0px;
  border-radius: 16px;
  opacity: 1;
  padding: 32px 15px 27px;
  text-align: center;
  overflow: hidden;
}
.kTAfgD {
  height: 80px;
  width: 80px;
}
.juAeTq {
  font-size: 20px;
  color: rgb(45, 46, 45);
  line-height: 23px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}
.bUOVWJ {
  display: none;
}
.jZyhFr {
  position: relative;
  top: 0px;
  animation: 0.3s linear 0s 1 normal none running fZQDRY;
}
.bUOVWJ {
  position: relative;
  top: -10px;
  animation: 0.3s linear 0s 1 normal none running beJpEa;
}
.lpfdVo:hover .jZyhFr {
  display: none;
}
.lpfdVo:hover .bUOVWJ {
  display: block;
}
.self-btna {
  margin-bottom: 60px;
}
@media (max-width: 1300px) {
  .lpfdVo {
    width: 360px;
  }
}
@media (max-width: 1150px) {
  .wiqzk {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .self-btna {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .lpfdVo {
    width: 100%;
  }
}
@keyframes beJpEa {
  0% {
    top: 0px;
    opacity: 0.5;
  }

  100% {
    top: -10px;
    opacity: 1;
  }
}
@keyframes fZQDRY {
  0% {
    top: -10px;
    opacity: 0.5;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
