.pMuiPaper-root-28 {
  color: #000000;
  transition: none;
  background-color: #ffffff;
}
.pMuiPaper-rounded-29 {
  border-radius: 4px;
}
.pMuiPaper-outlined-30 {
  border: 1px solid #ececec;
}
.pMuiPaper-elevation0-31 {
  box-shadow: none;
}
.come-sh {
  box-shadow: rgba(0, 0, 0, 0.25) -3px -4px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.pMuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: none;
  background-color: #fff;
}
.pMuiPaper-rounded {
  border-radius: 4px;
}
.pMuiPaper-outlined {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.pMuiPaper-elevation0 {
  box-shadow: none;
}

.pMuiPaper-root-220 {
  color: #1f2226;
  transition: none;
  background-color: #f2f5fa;
}
.pMuiPaper-rounded-221 {
  border-radius: 4px;
}
.pMuiPaper-outlined-222 {
  border: 1px solid #8f9093;
}

.pMuiButtonBase-root-133 {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.pMuiButtonBase-root-133::-moz-focus-inner {
  border-style: none;
}
.pMuiButtonBase-root-133.pMui-disabled {
  cursor: default;
  pointer-events: none;
}

.pMuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.pMuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}
.pMuiButtonBase-root.pMui-disabled {
  cursor: default;
  pointer-events: none;
}
@media print {
  .pMuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}
.pMuiButtonBase-root-348 {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.pMuiButtonBase-root-348::-moz-focus-inner {
  border-style: none;
}
.pMuiButtonBase-root-348.pMui-disabled {
  cursor: default;
  pointer-events: none;
}
@media print {
  .pMuiButtonBase-root-348 {
    -webkit-print-color-adjust: exact;
  }
}
.pjss1 {
  padding: 0 16px;
}
.pjss2 {
  top: 120px !important;
}
.pjss3 {
  background-color: #4fca80;
}
.pjss4 {
  background-color: red;
}
.pjss183 {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 959.95px) {
  .pjss183 {
    padding-top: 20px;
    flex-direction: column;
    padding-bottom: 80px;
  }
}
@media (min-width: 960px) {
  .pjss183 {
    justify-content: center;
  }
}
.pjss184 {
  color: #2e343c;
  display: flex;
  font-size: 17px;
  align-items: center;
  font-family: Inter;
  line-height: 24px;
  font-feature-settings: "ss01" on, "ss02" on, "calt" off;
}
@media (max-width: 959.95px) {
  .pjss184 svg {
    width: 40px;
    margin-right: 20px;
  }
  .pjss184:not(:last-child) {
    margin-bottom: 20px;
  }
  .pjss184 br {
    display: none;
  }
}
@media (min-width: 960px) {
  .pjss184 {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .pjss184 svg {
    margin-bottom: 20px;
  }
  .pjss184:not(:last-child) {
    margin-right: 70px;
  }
}
.pMuiContainer-root-81 {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .pMuiContainer-root-81 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.pMuiContainer-root-81.pMuiContainer-root-81 {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .pMuiContainer-root-81.pMuiContainer-root-81 {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .pMuiContainer-root-81.pMuiContainer-root-81 {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .pMuiContainer-root-81.pMuiContainer-root-81 {
    padding: 0px 24px;
  }
}
.pMuiContainer-disableGutters-82 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .pMuiContainer-fixed-83 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .pMuiContainer-fixed-83 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .pMuiContainer-fixed-83 {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .pMuiContainer-fixed-83 {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .pMuiContainer-maxWidthXs-84 {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .pMuiContainer-maxWidthSm-85 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .pMuiContainer-maxWidthMd-86 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .pMuiContainer-maxWidthLg-87 {
    max-width: 1280px;
  }
}
.pMuiContainer-maxWidthLg-87.pMuiContainer-maxWidthLg-87 {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .pMuiContainer-maxWidthXl-88 {
    max-width: 1440px;
  }
}
.pMuiContainer-root {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .pMuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.pMuiContainer-root.pMuiContainer-root {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .pMuiContainer-root.pMuiContainer-root {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .pMuiContainer-root.pMuiContainer-root {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .pMuiContainer-root.pMuiContainer-root {
    padding: 0px 24px;
  }
}
.pMuiContainer-disableGutters {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .pMuiContainer-fixed {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .pMuiContainer-fixed {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .pMuiContainer-fixed {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .pMuiContainer-fixed {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .pMuiContainer-maxWidthXs {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .pMuiContainer-maxWidthSm {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .pMuiContainer-maxWidthMd {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .pMuiContainer-maxWidthLg {
    max-width: 1280px;
  }
}
.pMuiContainer-maxWidthLg.pMuiContainer-maxWidthLg {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .pMuiContainer-maxWidthXl {
    max-width: 1440px;
  }
}
.pMuiContainer-root-279 {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .pMuiContainer-root-279 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.pMuiContainer-root-279.pMuiContainer-root-279 {
  padding: 0px 160px;
  max-width: 1620px;
  box-sizing: border-box;
}
@media (max-width: 1439.95px) {
  .pMuiContainer-root-279.pMuiContainer-root-279 {
    padding: 0px 80px;
  }
}
@media (max-width: 1279.95px) {
  .pMuiContainer-root-279.pMuiContainer-root-279 {
    padding: 0px 40px;
  }
}
@media (max-width: 767.95px) {
  .pMuiContainer-root-279.pMuiContainer-root-279 {
    padding: 0 20px;
  }
}
.pMuiContainer-disableGutters-280 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .pMuiContainer-fixed-281 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .pMuiContainer-fixed-281 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .pMuiContainer-fixed-281 {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .pMuiContainer-fixed-281 {
    max-width: 1440px;
  }
}
@media (min-width: 0px) {
  .pMuiContainer-maxWidthXs-282 {
    max-width: 444px;
  }
}
@media (min-width: 768px) {
  .pMuiContainer-maxWidthSm-283 {
    max-width: 768px;
  }
}
@media (min-width: 960px) {
  .pMuiContainer-maxWidthMd-284 {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .pMuiContainer-maxWidthLg-285 {
    max-width: 1280px;
  }
}
.pMuiContainer-maxWidthLg-285.pMuiContainer-maxWidthLg-285 {
  max-width: 1620px;
}
@media (min-width: 1440px) {
  .pMuiContainer-maxWidthXl-286 {
    max-width: 1440px;
  }
}
.pjss171 {
  left: 50%;
  bottom: calc(100% + 10px);
  padding: 20px 45px;
  z-index: 100000;
  position: absolute;
  transform: translateX(-50%);
  background: white;
  text-align: center;
  border-radius: 12px;
}
.pjss172 {
  color: #1f2226;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}
.pjss173 {
  color: #82899a;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 8px;
}
.pjss174 {
  color: #1f2226;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
  margin-bottom: 8px;
}
.pjss174 span {
  color: #82899a;
  font-size: 14px;
  line-height: 20px;
}
.pjss175 {
  gap: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}
.pjss175 img {
  height: 18px;
}
.pjss176 {
  z-index: 1000;
  position: relative;
  flex-grow: 1;
  max-width: 768px;
  margin-left: auto;
}
@media (max-width: 959.95px) {
  .pjss176 {
    width: 100%;
    aspect-ratio: 1/0.6;
  }
}
.pjss177 {
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(100px);
  opacity: 0.2;
  position: absolute;
  transform: translateY(40%);
  background: #c52cd2;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.pjss178 {
  left: -50px;
  right: -50px;
  bottom: -50px;
  filter: blur(200px);
  position: absolute;
  transform: translateY(40%);
  background: rgba(53, 109, 243, 0.49);
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.pjss179 {
  left: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(40%);
  border-radius: 50%;
}
.pjss179 > div > div > div > div {
  overflow: initial !important;
}
.pjss180 {
  left: 50%;
  color: #2e343c;
  bottom: 28px;
  height: 28px;
  display: flex;
  padding: 0 9px;
  z-index: 1000;
  position: absolute;
  font-size: 14px;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15),
    0px 0px 20px rgba(24, 48, 104, 0.1);
  align-items: center;
  font-family: Inter;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 8px;
}
.pjss180 svg {
  margin-right: 9px;
}
.pjss181 {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(40%);
  background: radial-gradient(
    71.93% 71.93% at 50% 28.07%,
    rgba(31, 34, 38, 0) 47.69%,
    rgba(31, 34, 38, 0.7) 100%
  );
  aspect-ratio: 1/1;
  border-radius: 50%;
  pointer-events: none;
}
.pjss182 {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(40%);
  background: radial-gradient(
    67.94% 67.94% at 49.95% 67.92%,
    rgba(158, 213, 244, 0) 77.96%,
    rgba(208, 233, 246, 0.48) 100%
  );
  aspect-ratio: 1/1;
  border-radius: 50%;
  pointer-events: none;
}

.pMuiButton-root-106 {
  color: #1f2226;
  height: 54px;
  padding: 15px 25px;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 12px;
  text-transform: initial;
  text-decoration: none;
}
.pMuiButton-root-106:hover {
  text-decoration: none;
  background-color: rgba(31, 34, 38, 0.04);
}
.pMuiButton-root-106.pMui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 1279.95px) {
  .pMuiButton-root-106 {
    height: 48px;
    padding: 14px 20px;
    font-size: 15px;
  }
}
@media (hover: none) {
  .pMuiButton-root-106:hover {
    background-color: transparent;
  }
}
.pMuiButton-root-106:hover.pMui-disabled {
  background-color: transparent;
}
.pMuiButton-label-107 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.pMuiButton-text-108 {
  color: #1f2226;
  height: auto;
  padding: 0;
  min-width: 0;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.pMuiButton-text-108:hover,
.pMuiButton-text-108:focus,
.pMuiButton-text-108:active {
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
.pMuiButton-text-108.pMui-disabled {
  color: #8f9093;
}
.pMuiButton-text-108:hover,
.pMuiButton-text-108:focus {
  color: #356df3;
  background-color: transparent;
}
.pMuiButton-text-108:active {
  color: #1f2226;
}
.pMuiButton-textPrimary-109 {
  color: #356df3;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.pMuiButton-textPrimary-109:hover {
  background-color: rgba(53, 109, 243, 0.04);
}
.pMuiButton-textPrimary-109:hover,
.pMuiButton-textPrimary-109:focus,
.pMuiButton-textPrimary-109:active {
  color: rgba(0, 0, 0, 0.9);
  background-color: transparent;
}
.pMuiButton-textPrimary-109.pMui-disabled {
  color: #8f9093;
}
.pMuiButton-textPrimary-109:hover,
.pMuiButton-textPrimary-109:focus {
  color: #1f2226;
  background-color: transparent;
}
.pMuiButton-textPrimary-109:active {
  color: #356df3;
}
@media (hover: none) {
  .pMuiButton-textPrimary-109:hover {
    background-color: transparent;
  }
}
.pMuiButton-textSecondary-110 {
  color: #f50057;
}
.pMuiButton-textSecondary-110:hover {
  background-color: rgba(245, 0, 87, 0.04);
}
@media (hover: none) {
  .pMuiButton-textSecondary-110:hover {
    background-color: transparent;
  }
}
.pMuiButton-outlined-111 {
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.9);
  padding: 16px;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color, border-color, background-color;
  transition-timing-function: linear;
}
.pMuiButton-outlined-111.pMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.pMuiButton-outlined-111:hover,
.pMuiButton-outlined-111:focus,
.pMuiButton-outlined-111:active {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}
.pMuiButton-outlinedPrimary-112 {
  color: #356df3;
  border: 1px solid rgba(53, 109, 243, 0.5);
}
.pMuiButton-outlinedPrimary-112:hover {
  border: 1px solid #356df3;
  background-color: rgba(53, 109, 243, 0.04);
}
@media (hover: none) {
  .pMuiButton-outlinedPrimary-112:hover {
    background-color: transparent;
  }
}
.pMuiButton-outlinedSecondary-113 {
  color: #f50057;
  border: 1px solid rgba(245, 0, 87, 0.5);
}
.pMuiButton-outlinedSecondary-113:hover {
  border: 1px solid #f50057;
  background-color: rgba(245, 0, 87, 0.04);
}
.pMuiButton-outlinedSecondary-113.pMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .pMuiButton-outlinedSecondary-113:hover {
    background-color: transparent;
  }
}
.pMuiButton-contained-114 {
  color: #fff;
  box-shadow: none;
  background-color: #356df3;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.pMuiButton-contained-114:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5d5;
}
.pMuiButton-contained-114.pMui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.pMuiButton-contained-114:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.pMuiButton-contained-114.pMui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: #8f9093;
}
.pMuiButton-contained-114:hover,
.pMuiButton-contained-114:focus,
.pMuiButton-contained-114:active {
  background-color: #2f5ddd;
}
.pMuiButton-contained-114 svg {
  color: inherit !important;
  font-size: inherit;
}
@media (hover: none) {
  .pMuiButton-contained-114:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
  }
}
.pMuiButton-contained-114:hover.pMui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}
.pMuiButton-containedPrimary-115 {
  color: #fff;
  background-color: #1f2226;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.pMuiButton-containedPrimary-115:hover {
  background-color: #2f5ddd;
}
.pMuiButton-containedPrimary-115:hover,
.pMuiButton-containedPrimary-115:focus {
  background-color: #356df3;
}
.pMuiButton-containedPrimary-115:active {
  background-color: #1f2226;
}
.pMuiButton-containedPrimary-115.pMui-disabled {
  background-color: #8f9093;
}
@media (hover: none) {
  .pMuiButton-containedPrimary-115:hover {
    background-color: #356df3;
  }
}
.pMuiButton-containedSecondary-116 {
  color: #fff;
  background-color: #f50057;
}
.pMuiButton-containedSecondary-116:hover {
  background-color: #c51162;
}
@media (hover: none) {
  .pMuiButton-containedSecondary-116:hover {
    background-color: #f50057;
  }
}
.pMuiButton-disableElevation-117 {
  box-shadow: none;
}
.pMuiButton-disableElevation-117:hover {
  box-shadow: none;
}
.pMuiButton-disableElevation-117.pMui-focusVisible {
  box-shadow: none;
}
.pMuiButton-disableElevation-117:active {
  box-shadow: none;
}
.pMuiButton-disableElevation-117.pMui-disabled {
  box-shadow: none;
}
.pMuiButton-colorInherit-118 {
  color: inherit;
  border-color: currentColor;
}
.pMuiButton-textSizeSmall-119 {
  padding: 0;
  font-size: 0.8125rem;
}
.pMuiButton-textSizeLarge-120 {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.pMuiButton-outlinedSizeSmall-121 {
  padding: 8px 16px;
  font-size: 0.8125rem;
}
.pMuiButton-outlinedSizeLarge-122 {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.pMuiButton-containedSizeSmall-123 {
  padding: 4px 10px;
  font-size: 0.8125rem;
}
.pMuiButton-containedSizeLarge-124 {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.pMuiButton-sizeSmall-125 {
  height: 36px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.2;
}
.pMuiButton-fullWidth-127 {
  width: 100%;
}
.pMuiButton-startIcon-128 {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.pMuiButton-startIcon-128.pMuiButton-iconSizeSmall-130 {
  margin-left: -2px;
}
.pMuiButton-endIcon-129 {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.pMuiButton-endIcon-129.pMuiButton-iconSizeSmall-130 {
  margin-right: -2px;
}
.pMuiButton-iconSizeSmall-130 > *:first-child {
  font-size: 18px;
}
.pMuiButton-iconSizeMedium-131 > *:first-child {
  font-size: 20px;
}
.pMuiButton-iconSizeLarge-132 > *:first-child {
  font-size: 22px;
}
.pMuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  height: 48px;
  padding: 16px;
  font-size: 16px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 4px;
  text-transform: initial;
  text-decoration: none;
}
.pMuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}
.pMuiButton-root.pMui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .pMuiButton-root:hover {
    background-color: transparent;
  }
}
.pMuiButton-root:hover.pMui-disabled {
  background-color: transparent;
}
.pMuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.pMuiButton-text {
  height: auto;
  padding: 0;
  min-width: 0;
}
.pMuiButton-textPrimary {
  color: #3f51b5;
}
.pMuiButton-textPrimary:hover {
  background-color: rgba(63, 81, 181, 0.04);
}
@media (hover: none) {
  .pMuiButton-textPrimary:hover {
    background-color: transparent;
  }
}
.pMuiButton-textSecondary {
  color: #f50057;
}
.pMuiButton-textSecondary:hover {
  background-color: rgba(245, 0, 87, 0.04);
}
@media (hover: none) {
  .pMuiButton-textSecondary:hover {
    background-color: transparent;
  }
}
.pMuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 16px;
}
.pMuiButton-outlined.pMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.pMuiButton-outlinedPrimary {
  color: #3f51b5;
  border: 1px solid rgba(63, 81, 181, 0.5);
}
.pMuiButton-outlinedPrimary:hover {
  border: 1px solid #3f51b5;
  background-color: rgba(63, 81, 181, 0.04);
}
@media (hover: none) {
  .pMuiButton-outlinedPrimary:hover {
    background-color: transparent;
  }
}
.pMuiButton-outlinedSecondary {
  color: #f50057;
  border: 1px solid rgba(245, 0, 87, 0.5);
}
.pMuiButton-outlinedSecondary:hover {
  border: 1px solid #f50057;
  background-color: rgba(245, 0, 87, 0.04);
}
.pMuiButton-outlinedSecondary.pMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .pMuiButton-outlinedSecondary:hover {
    background-color: transparent;
  }
}
.pMuiButton-contained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
}
.pMuiButton-contained:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5d5;
}
.pMuiButton-contained.pMui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.pMuiButton-contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.pMuiButton-contained.pMui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}
@media (hover: none) {
  .pMuiButton-contained:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
  }
}
.pMuiButton-contained:hover.pMui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}
.pMuiButton-containedPrimary {
  color: #fff;
  background-color: #3f51b5;
}
.pMuiButton-containedPrimary:hover {
  background-color: #303f9f;
}
@media (hover: none) {
  .pMuiButton-containedPrimary:hover {
    background-color: #3f51b5;
  }
}
.pMuiButton-containedSecondary {
  color: #fff;
  background-color: #f50057;
}
.pMuiButton-containedSecondary:hover {
  background-color: #c51162;
}
@media (hover: none) {
  .pMuiButton-containedSecondary:hover {
    background-color: #f50057;
  }
}
.pMuiButton-disableElevation {
  box-shadow: none;
}
.pMuiButton-disableElevation:hover {
  box-shadow: none;
}
.pMuiButton-disableElevation.pMui-focusVisible {
  box-shadow: none;
}
.pMuiButton-disableElevation:active {
  box-shadow: none;
}
.pMuiButton-disableElevation.pMui-disabled {
  box-shadow: none;
}
.pMuiButton-colorInherit {
  color: inherit;
  border-color: currentColor;
}
.pMuiButton-textSizeSmall {
  padding: 0;
  font-size: 0.8125rem;
}
.pMuiButton-textSizeLarge {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.pMuiButton-outlinedSizeSmall {
  padding: 8px 16px;
  font-size: 0.8125rem;
}
.pMuiButton-outlinedSizeLarge {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.pMuiButton-containedSizeSmall {
  padding: 4px 10px;
  font-size: 0.8125rem;
}
.pMuiButton-containedSizeLarge {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.pMuiButton-sizeSmall {
  height: 36px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.2;
}
.pMuiButton-fullWidth {
  width: 100%;
}
.pMuiButton-startIcon {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.pMuiButton-startIcon.pMuiButton-iconSizeSmall {
  margin-left: -2px;
}
.pMuiButton-endIcon {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.pMuiButton-endIcon.pMuiButton-iconSizeSmall {
  margin-right: -2px;
}
.pMuiButton-iconSizeSmall > *:first-child {
  font-size: 18px;
}
.pMuiButton-iconSizeMedium > *:first-child {
  font-size: 20px;
}
.pMuiButton-iconSizeLarge > *:first-child {
  font-size: 22px;
}
.pMuiButton-root-321 {
  color: #1f2226;
  height: 54px;
  padding: 15px 25px;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 12px;
  text-transform: initial;
  text-decoration: none;
}
.pMuiButton-root-321:hover {
  text-decoration: none;
  background-color: rgba(31, 34, 38, 0.04);
}
.pMuiButton-root-321.pMui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 1279.95px) {
  .pMuiButton-root-321 {
    height: 48px;
    padding: 14px 20px;
    font-size: 15px;
  }
}
@media (hover: none) {
  .pMuiButton-root-321:hover {
    background-color: transparent;
  }
}
.pMuiButton-root-321:hover.pMui-disabled {
  background-color: transparent;
}
.pMuiButton-label-322 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.pMuiButton-text-323 {
  color: #1f2226;
  height: auto;
  padding: 0;
  min-width: 0;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.pMuiButton-text-323:hover,
.pMuiButton-text-323:focus {
  color: #356df3;
  background-color: transparent;
}
.pMuiButton-text-323:active {
  color: #1f2226;
}
.pMuiButton-text-323.pMui-disabled {
  color: #8f9093;
}
.pMuiButton-textPrimary-324 {
  color: #356df3;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: linear;
}
.pMuiButton-textPrimary-324:hover {
  background-color: rgba(53, 109, 243, 0.04);
}
.pMuiButton-textPrimary-324:hover,
.pMuiButton-textPrimary-324:focus {
  color: #1f2226;
  background-color: transparent;
}
.pMuiButton-textPrimary-324:active {
  color: #356df3;
}
.pMuiButton-textPrimary-324.pMui-disabled {
  color: #8f9093;
}
@media (hover: none) {
  .pMuiButton-textPrimary-324:hover {
    background-color: transparent;
  }
}
.pMuiButton-textSecondary-325 {
  color: #f50057;
}
.pMuiButton-textSecondary-325:hover {
  background-color: rgba(245, 0, 87, 0.04);
}
@media (hover: none) {
  .pMuiButton-textSecondary-325:hover {
    background-color: transparent;
  }
}
.pMuiButton-outlined-326 {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 16px;
}
.pMuiButton-outlined-326.pMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.pMuiButton-outlinedPrimary-327 {
  color: #356df3;
  border: 1px solid rgba(53, 109, 243, 0.5);
}
.pMuiButton-outlinedPrimary-327:hover {
  border: 1px solid #356df3;
  background-color: rgba(53, 109, 243, 0.04);
}
@media (hover: none) {
  .pMuiButton-outlinedPrimary-327:hover {
    background-color: transparent;
  }
}
.pMuiButton-outlinedSecondary-328 {
  color: #f50057;
  border: 1px solid rgba(245, 0, 87, 0.5);
}
.pMuiButton-outlinedSecondary-328:hover {
  border: 1px solid #f50057;
  background-color: rgba(245, 0, 87, 0.04);
}
.pMuiButton-outlinedSecondary-328.pMui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .pMuiButton-outlinedSecondary-328:hover {
    background-color: transparent;
  }
}
.pMuiButton-contained-329 {
  color: #fff;
  box-shadow: none;
  background-color: #356df3;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.pMuiButton-contained-329:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5d5;
}
.pMuiButton-contained-329.pMui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.pMuiButton-contained-329:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.pMuiButton-contained-329.pMui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: #8f9093;
}
.pMuiButton-contained-329:hover,
.pMuiButton-contained-329:focus,
.pMuiButton-contained-329:active {
  background-color: #2f5ddd;
}
.pMuiButton-contained-329 svg {
  color: inherit !important;
  font-size: inherit;
}
@media (hover: none) {
  .pMuiButton-contained-329:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
  }
}
.pMuiButton-contained-329:hover.pMui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}
.pMuiButton-containedPrimary-330 {
  color: #fff;
  background-color: #1f2226;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}
.pMuiButton-containedPrimary-330:hover {
  background-color: #2f5ddd;
}
.pMuiButton-containedPrimary-330:hover,
.pMuiButton-containedPrimary-330:focus {
  background-color: #356df3;
}
.pMuiButton-containedPrimary-330:active {
  background-color: #1f2226;
}
.pMuiButton-containedPrimary-330.pMui-disabled {
  background-color: #8f9093;
}
@media (hover: none) {
  .pMuiButton-containedPrimary-330:hover {
    background-color: #356df3;
  }
}
.pMuiButton-containedSecondary-331 {
  color: #fff;
  background-color: #f50057;
}
.pMuiButton-containedSecondary-331:hover {
  background-color: #c51162;
}
@media (hover: none) {
  .pMuiButton-containedSecondary-331:hover {
    background-color: #f50057;
  }
}
.pMuiButton-disableElevation-332 {
  box-shadow: none;
}
.pMuiButton-disableElevation-332:hover {
  box-shadow: none;
}
.pMuiButton-disableElevation-332.pMui-focusVisible {
  box-shadow: none;
}
.pMuiButton-disableElevation-332:active {
  box-shadow: none;
}
.pMuiButton-disableElevation-332.pMui-disabled {
  box-shadow: none;
}
.pMuiButton-colorInherit-333 {
  color: inherit;
  border-color: currentColor;
}
.pMuiButton-textSizeSmall-334 {
  padding: 0;
  font-size: 0.8125rem;
}
.pMuiButton-textSizeLarge-335 {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.pMuiButton-outlinedSizeSmall-336 {
  padding: 8px 16px;
  font-size: 0.8125rem;
}
.pMuiButton-outlinedSizeLarge-337 {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.pMuiButton-containedSizeSmall-338 {
  padding: 4px 10px;
  font-size: 0.8125rem;
}
.pMuiButton-containedSizeLarge-339 {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.pMuiButton-sizeSmall-340 {
  height: 36px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.2;
}
.pMuiButton-fullWidth-342 {
  width: 100%;
}
.pMuiButton-startIcon-343 {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.pMuiButton-startIcon-343.pMuiButton-iconSizeSmall-345 {
  margin-left: -2px;
}
.pMuiButton-endIcon-344 {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.pMuiButton-endIcon-344.pMuiButton-iconSizeSmall-345 {
  margin-right: -2px;
}
.pMuiButton-iconSizeSmall-345 > *:first-child {
  font-size: 18px;
}
.pMuiButton-iconSizeMedium-346 > *:first-child {
  font-size: 20px;
}
.pMuiButton-iconSizeLarge-347 > *:first-child {
  font-size: 22px;
}

.pMuiTypography-root-134 {
  margin: 0;
}
.pMuiTypography-body2-135 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
.pMuiTypography-body1-136 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-body1-136 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-body1-136 {
    font-size: 16px;
  }
}
.pMuiTypography-caption-137 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0;
  text-transform: none;
}
.pMuiTypography-button-138 {
  font-size: 0.875rem;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
}
.pMuiTypography-h1-139 {
  color: #1f2226;
  font-size: 90px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h1-139 {
    font-size: 48px;
    line-height: 1.2;
  }
}
@media (max-width: 767.95px) {
  .pMuiTypography-h1-139 {
    font-size: 36px;
    line-height: 1.2;
  }
}
.pMuiTypography-h2-140 {
  color: #1f2226;
  font-size: 48px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h2-140 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h2-140 {
    font-size: 36px;
  }
}
.pMuiTypography-h3-141 {
  color: #1f2226;
  font-size: 30px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h3-141 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h3-141 {
    font-size: 21px;
  }
}
.pMuiTypography-h4-142 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h4-142 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h4-142 {
    font-size: 15px;
  }
}
.pMuiTypography-h5-143 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h5-143 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h5-143 {
    font-size: 14px;
  }
}
.pMuiTypography-h6-144 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h6-144 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h6-144 {
    font-size: 14px;
  }
}
.pMuiTypography-subtitle1-145 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.pMuiTypography-subtitle2-146 {
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.pMuiTypography-overline-147 {
  color: #1f2226;
  font-size: 13px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}
.pMuiTypography-srOnly-148 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.pMuiTypography-alignLeft-149 {
  text-align: left;
}
.pMuiTypography-alignCenter-150 {
  text-align: center;
}
.pMuiTypography-alignRight-151 {
  text-align: right;
}
.pMuiTypography-alignJustify-152 {
  text-align: justify;
}
.pMuiTypography-noWrap-153 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pMuiTypography-gutterBottom-154 {
  margin-bottom: 0.35em;
}
.pMuiTypography-paragraph-155 {
  margin-bottom: 16px;
}
.pMuiTypography-colorInherit-156 {
  color: inherit;
}
.pMuiTypography-colorPrimary-157 {
  color: #356df3;
}
.pMuiTypography-colorSecondary-158 {
  color: #f50057;
}
.pMuiTypography-colorTextPrimary-159 {
  color: #1f2226;
}
.pMuiTypography-colorTextSecondary-160 {
  color: #356df3;
}
.pMuiTypography-colorError-161 {
  color: #f1534c;
}
.pMuiTypography-displayInline-162 {
  display: inline;
}
.pMuiTypography-displayBlock-163 {
  display: block;
}
.pMuiTypography-root-291 {
  margin: 0;
}
.pMuiTypography-body2-292 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
.pMuiTypography-body1-293 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-body1-293 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-body1-293 {
    font-size: 16px;
  }
}
.pMuiTypography-caption-294 {
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0;
  text-transform: none;
}
.pMuiTypography-button-295 {
  font-size: 0.875rem;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
}
.pMuiTypography-h1-296 {
  color: #1f2226;
  font-size: 90px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h1-296 {
    font-size: 48px;
    line-height: 1.2;
  }
}
@media (max-width: 767.95px) {
  .pMuiTypography-h1-296 {
    font-size: 36px;
    line-height: 1.2;
  }
}
.pMuiTypography-h2-297 {
  color: #1f2226;
  font-size: 48px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h2-297 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h2-297 {
    font-size: 36px;
  }
}
.pMuiTypography-h3-298 {
  color: #1f2226;
  font-size: 30px;
  font-family: "TT-Firs-Neue-Demi-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h3-298 {
    font-size: 28px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h3-298 {
    font-size: 21px;
  }
}
.pMuiTypography-h4-299 {
  color: #1f2226;
  font-size: 18px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h4-299 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h4-299 {
    font-size: 15px;
  }
}
.pMuiTypography-h5-300 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h5-300 {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h5-300 {
    font-size: 14px;
  }
}
.pMuiTypography-h6-301 {
  color: #1f2226;
  font-size: 15px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
@media (max-width: 767.95px) {
  .pMuiTypography-h6-301 {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (max-width: 1279.95px) {
  .pMuiTypography-h6-301 {
    font-size: 14px;
  }
}
.pMuiTypography-subtitle1-302 {
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.pMuiTypography-subtitle2-303 {
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.pMuiTypography-overline-304 {
  color: #1f2226;
  font-size: 13px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}
.pMuiTypography-srOnly-305 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.pMuiTypography-alignLeft-306 {
  text-align: left;
}
.pMuiTypography-alignCenter-307 {
  text-align: center;
}
.pMuiTypography-alignRight-308 {
  text-align: right;
}
.pMuiTypography-alignJustify-309 {
  text-align: justify;
}
.pMuiTypography-noWrap-310 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pMuiTypography-gutterBottom-311 {
  margin-bottom: 0.35em;
}
.pMuiTypography-paragraph-312 {
  margin-bottom: 16px;
}
.pMuiTypography-colorInherit-313 {
  color: inherit;
}
.pMuiTypography-colorPrimary-314 {
  color: #356df3;
}
.pMuiTypography-colorSecondary-315 {
  color: #f50057;
}
.pMuiTypography-colorTextPrimary-316 {
  color: #1f2226;
}
.pMuiTypography-colorTextSecondary-317 {
  color: #356df3;
}
.pMuiTypography-colorError-318 {
  color: #f1534c;
}
.pMuiTypography-displayInline-319 {
  display: inline;
}
.pMuiTypography-displayBlock-320 {
  display: block;
}
.pjss5 {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
}
.pjss6 {
  color: rgba(0, 0, 0, 0.87);
  flex-grow: 1;
  margin-top: 92px;
  background-color: #fff;
}
@media (max-width: 1279.95px) {
  .pjss6 {
    margin-top: 78px;
  }
}
@media (max-width: 959.95px) {
  .pjss6 {
    margin-top: 78px;
  }
}
@media (max-width: 767.95px) {
  .pjss6 {
    margin-top: 62px;
  }
}
.pjss7 {
  margin: 0;
}
.pMuiAppBar-root-17 {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}
.pMuiAppBar-positionFixed-18 {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
}
@media print {
  .pMuiAppBar-positionFixed-18 {
    position: absolute;
  }
}
.pMuiAppBar-positionAbsolute-19 {
  top: 0;
  left: auto;
  right: 0;
  position: absolute;
}
.pMuiAppBar-positionSticky-20 {
  top: 0;
  left: auto;
  right: 0;
  position: sticky;
}
.pMuiAppBar-positionStatic-21 {
  position: static;
}
.pMuiAppBar-positionRelative-22 {
  position: relative;
}
.pMuiAppBar-colorDefault-23 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}
.pMuiAppBar-colorPrimary-24 {
  color: #eef0f4;
  background-color: #ffffff;
}
.pMuiAppBar-colorSecondary-25 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}
.pMuiAppBar-colorInherit-26 {
  color: inherit;
}
.pMuiAppBar-colorTransparent-27 {
  color: inherit;
  background-color: transparent;
}
.pjss8 {
  top: 0;
  color: rgba(0, 0, 0, 0.87);
  z-index: 1310;
  box-shadow: 0px 3px 16px rgba(26, 36, 57, 0.1);
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms !important;
  padding-bottom: 17px;
  background-color: #fff;
  transition-property: transform, box-shadow, padding-top, padding-bottom,
    background-color !important;
}
.pjss9.pjss9 {
  box-shadow: none;
  padding-bottom: 20px;
  background-color: transparent;
}
.pjss10.pjss10 {
  position: sticky;
}
.pjss11.pjss11 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}
.pjss12.pjss12 {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  background-color: #fff;
  transition-property: none !important;
}
.pjss13.pjss13 {
  box-shadow: none;
  transition-property: none !important;
}
.pjss14.pjss14 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}
.pjss15 {
  color: #fff;
}
.pjss16 {
  width: 100%;
  margin: 0 auto;
  max-width: 1460px;
  box-sizing: border-box;
  padding-top: 18px;
}
@media (max-width: 959.95px) {
  .pjss16 {
    padding-top: 14px;
  }
}
.pMuiPopover-paper-588 {
  outline: 0;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 16px;
  max-height: calc(100% - 32px);
  min-height: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}
.pMuiDrawer-docked-564 {
  flex: 0 0 auto;
}
.pMuiDrawer-paper-565 {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
.pMuiDrawer-paperAnchorLeft-566 {
  left: 0;
  right: auto;
}
.pMuiDrawer-paperAnchorRight-567 {
  left: auto;
  right: 0;
}
.pMuiDrawer-paperAnchorTop-568 {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: auto;
  max-height: 100%;
}
.pMuiDrawer-paperAnchorBottom-569 {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  max-height: 100%;
}
.pMuiDrawer-paperAnchorDockedLeft-570 {
  border-right: 1px solid #8f9093;
}
.pMuiDrawer-paperAnchorDockedTop-571 {
  border-bottom: 1px solid #8f9093;
}
.pMuiDrawer-paperAnchorDockedRight-572 {
  border-left: 1px solid #8f9093;
}
.pMuiDrawer-paperAnchorDockedBottom-573 {
  border-top: 1px solid #8f9093;
}
.pjss89 .pMuiIconButton-edgeStart {
  margin: 0;
  padding: 0;
}
